{% assign icon_name = asset_svg %}
{% if icon_name == 'diamond_shape_round-diamonds' %}
	<svg viewBox="0 0 92 98" fill="none" xmlns="http://www.w3.org/2000/svg">
	  <path d="M90.789 46.507C90.0492 34.5194 87.7728 27.042 78.2121 16.1819C70.5863 7.51762 62.7328 3.00743 49.9852 1.58316C28.2459 -0.909313 7.64483 13.7488 2.4661 35.1129C0.0759229 44.786 0.531195 57.6045 4.40101 66.9216C8.78301 77.4256 15.8397 85.3777 25.4574 90.8968C44.8065 101.994 68.8221 95.3476 81.7974 77.6629C88.0574 69.058 91.5288 57.3671 90.789 46.507ZM90.789 46.507C90.5614 42.7683 90.8459 47.2192 90.789 46.507Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M35.6442 22.5318L18.23 19.7426L21.2462 37.9021L35.4734 22.8285L35.6442 22.5318Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M4.05957 30.3653L18.2299 19.7426L21.2461 37.9021L6.62048 48.6434L4.05957 30.3653Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M27.4493 5.44058L18.23 19.7426L35.6442 22.5318L45.8878 7.63633L27.4493 5.44058Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M21.2462 37.9614L6.67751 48.6434H6.62061H6.67751H6.62061H6.67751L21.2462 59.3848V48.6434V37.9021V37.9614Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M35.6442 74.8144L18.23 77.5443L21.2462 59.3848L35.6442 74.8144Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M4.45801 66.8029L18.23 77.5443L21.2462 59.3848L6.62055 48.6435L4.45801 66.8029Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M27.7338 92.0837L18.23 77.5443L35.6442 74.8144L45.8309 89.6506L27.7338 92.0837Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M56.0175 22.5318L45.8308 7.69567V7.63632V7.69567V7.63632V7.69567L35.644 22.5318H56.0175Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M56.0176 22.5318L73.4318 19.7426L70.4156 37.9021L56.1883 22.8285L56.0176 22.5318Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M87.659 30.3653L73.4317 19.7426L70.4155 37.9021L85.0412 48.6434L87.659 30.3653Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M64.2125 5.44058L73.4317 19.7426L56.0176 22.5318L45.7739 7.63633L64.2125 5.44058Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M45.8877 89.5912L56.0175 74.8144H35.644L45.8308 89.5912V89.6506H45.8877V89.5912Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M70.4724 37.9614L84.9843 48.6434H85.0412H84.9843L70.4724 59.3848H70.4155V48.6434V37.9021L70.4724 37.9614Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M56.0176 74.8144L73.4318 77.5443L70.4156 59.3848L56.0176 74.8144Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M56.1885 22.8286L55.9609 22.5318H45.9449H35.6444L35.4167 22.8286L21.1895 37.9021V48.6435V59.3848L35.5875 74.7551H45.888H55.9609L70.4158 59.3848V48.6435V37.9021L56.1885 22.8286Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M87.2037 66.8029L73.4317 77.5443L70.4155 59.3848L85.0412 48.6435L87.2037 66.8029Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M63.9279 92.0837L73.4317 77.5443L56.0175 74.8144L45.8308 89.6506L63.9279 92.0837Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	</svg>

{% elsif icon_name == 'diamond_shape_marquise-cut-diamonds' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 98">
		<polygon class="st0" points="34.7 49.4 34.6 49.2 34.7 49.4 34.7 49.4 "/>
		<path class="st0" d="M70.5 49.7C70.2 29.6 60.6 11 45.5 1l-0.3-0.2L44.9 1c-14.1 9.3-23.1 26.9-23.4 46C21.1 67.3 30.2 85.5 46.4 97l0.3 0.2L47 97C62.3 86.2 70.8 69 70.5 49.7zM55.4 88.1c-1.6 1.7-3.3 3.4-5 4.9l-3.2 2.7 1.6-3.9 2.8-6.7 0.6-1.3 1.1 1 2.1 2 0.7 0.7L55.4 88.1zM39.4 70.1l-0.2-0.2 -0.1-0.2 -5.5-20 -0.1-0.3 0 0 0 0 0.1-0.3 4.8-21.3 0.1-0.3 0.2-0.2 6.3-7.1 0.7-0.8 0.7 0.8 6.4 6.5 0.2 0.2 0.1 0.3L58.7 49l0.1 0.3 0 0 0 0 -0.1 0.3 -4.9 20L53.7 70l-0.2 0.2 -6.3 7.2 -0.8 0.9 -0.8-0.9L39.4 70.1zM45.4 78.7l-0.8 0.6 -1.9 1.4 -1.3 1 -0.3-1.6 -0.8-4.4 -0.6-3.5 2.4 2.7 2.7 3L45.4 78.7zM39 18.3l-1.4 8.3 -0.1 0.3 -0.3 0.2 -6.9 6.3L28.7 35l0-2.3 0-9.6 0-0.6 0.5-0.3 8.3-5 1.9-1.1L39 18.3zM39.5 22l0.7-4.4 0.3-1.6 1.3 0.9 1.9 1.4 0.9 0.6 -0.7 0.8 -2.7 3 -2.3 2.6L39.5 22zM29.1 36.2l5.6-5.1 2.4-2.2L36.4 32l-2.8 12.3 -0.7 3.2 -1.2-3 -2.8-7.1 -0.3-0.6L29.1 36.2zM32.9 51.1l0.8 2.8 3 11 1 3.5 -2.6-2.5 -5.4-5.1 -0.5-0.5 0.3-0.6 2.4-5.9L32.9 51.1zM47 19.1l1-0.7 2.2-1.6 1.3-1 0.2 1.6 0.6 4.4 0.4 3 -2.1-2.2 -2.8-2.9L47 19.1zM62.6 61.4l-4.9 4.7 -2.5 2.4 0.8-3.3 2.6-10.8 0.8-3.1 1.1 3 2.3 6.1 0.2 0.6L62.6 61.4zM63.2 62.4l0.1 2.3 0.2 9.7 0 0.6 -0.5 0.3 -8.4 5.2 -1.9 1.2 0.4-2.2 1.6-8.6 0.1-0.3 0.2-0.2 6.6-6.3L63.2 62.4zM59.4 47.3L58.6 44l-3-11.9 -0.9-3.7 2.6 2.7 5.2 5.4 0.4 0.4 -0.2 0.6 -2.2 6.5L59.4 47.3zM48.3 77.9l2.7-3 2.4-2.7 -0.6 3.5 -0.8 4.5 -0.3 1.6 -1.3-1 -1.9-1.4 -0.8-0.6L48.3 77.9zM61.6 79.7c-1.2 2.1-2.6 4.1-4.1 6l-0.7 0.8L56 85.7l-2.1-2 -1-0.9 1.1-0.7 6.2-3.9 3.5-2.2L61.6 79.7zM67.9 63.8c-0.4 1.8-0.9 3.6-1.5 5.3l-1.8 5.4 -0.1-5.7 -0.1-5.6 0-1.4 1.3 0.4 1.6 0.4 0.9 0.3L67.9 63.8zM69.2 55.4c-0.1 1.8-0.4 3.6-0.7 5.3l-0.2 1.1 -1.1-0.3L65.7 61l-1.1-0.3 0.5-1.1 2.3-4.8 2.3-4.9L69.2 55.4zM67.9 37.5c0.3 1.3 0.5 2.6 0.7 3.8l0.9 5.9 -2.8-5.2 -1.9-3.5 -0.6-1.1 1.3-0.3 1.1-0.3 1-0.2L67.9 37.5zM66 30.4c0.5 1.3 0.9 2.7 1.2 4l0.3 1 -1 0.2 -1.2 0.3L64 36.2l0-1.3 0-4.2 0-6.1L66 30.4zM64.7 40.4l4.1 7.7 0.2 0.4L68.8 49l-4 8.5 -1 2.1L63 57.4 60 49.7l-0.1-0.3L60 49l2.8-8.5 0.7-2.2L64.7 40.4zM62.8 23.9l0.1 9.1 0 2.5 -1.7-1.8 -6.8-7.1 -0.2-0.2 0-0.3L53 18.4l-0.3-2.3 1.9 1.4 7.8 5.6 0.4 0.3L62.8 23.9zM56.9 13.3c1 1.3 2 2.7 2.8 4.1l2.8 4.3 -4.2-3 -4.2-3 -1.2-0.8 1.2-0.8 1.4-1 0.8-0.5L56.9 13.3zM50.4 6.2c1.6 1.4 3.1 2.9 4.5 4.6l0.7 0.8 -0.9 0.6 -1.6 1.1L52.1 14l-0.5-1 -2.8-5.6 -2.4-4.8L50.4 6.2zM45.2 2.9l1 2 4.6 9 0.4 0.8 -0.7 0.5 -4 2.9 -0.6 0.4 -0.6-0.4 -3.9-2.8 -0.6-0.4 0.3-0.7L44.4 5 45.2 2.9zM36.7 9.6c1.4-1.6 2.9-3.1 4.5-4.4l2.9-2.5 -1.3 3.6 -2.3 6.3 -0.5 1.4L38.8 13l-2.1-2L36 10.3 36.7 9.6zM30.6 17.9c1.2-2 2.5-4 4-5.9l0.7-0.9 0.8 0.8 2.2 2.1 0.9 0.9 -1.1 0.7L32 19.3l-3.4 2L30.6 17.9zM24.2 34c0.4-1.6 0.8-3.3 1.4-4.9l1.9-5.9 0 6.2 0 5.1 0 1.2 -1.2-0.3L25 35.2 24 35 24.2 34zM23 41.2c0.2-1.6 0.4-2.9 0.6-4.1l0.2-1 1 0.2 1.3 0.3 1.3 0.3L26.7 38l-1.9 3.7 -2.5 5.1L23 41.2zM23.9 60.6c-0.4-1.7-0.6-3.5-0.8-5.3l-0.6-5.5 2.5 4.9 2.4 4.6 0.5 1 -1 0.4 -1.5 0.6 -1.1 0.5L23.9 60.6zM26.2 68.7c-0.6-1.6-1.1-3.3-1.6-5l-0.2-0.9 0.8-0.3 1.4-0.6 1.3-0.5 0 1.4 0.1 5.5 0.1 6.1L26.2 68.7zM27.4 57.2l-4.3-8.4 -0.2-0.4 0.2-0.5 3.9-7.8 1-2 0.8 2.1 3.4 8.8 0.1 0.4 -0.1 0.4 -3 7.4 -0.8 2L27.4 57.2zM29.1 61.8l1.7 1.7 7.1 6.8 0.2 0.2 0.1 0.3 1.5 8.6 0.4 2.2 -1.9-1.2 -8.5-5.2 -0.5-0.3 0-0.5 -0.2-10.1L29.1 61.8zM35.7 85.5c-1.5-1.8-2.8-3.7-4.1-5.6l-2.3-3.7 3.7 2.3 6 3.7 1.1 0.7 -1 0.9 -2 1.8 -0.8 0.7L35.7 85.5zM42.3 92.3c-1.6-1.4-3.1-2.9-4.5-4.4l-0.7-0.7 0.7-0.7 1.9-1.8 1.1-1 0.6 1.3 2.5 6.1 1.6 3.9L42.3 92.3zM46.5 94.4l-0.9-2.2L42 83.6l-0.3-0.7 0.6-0.5 3.6-2.7 0.6-0.5 0.6 0.5 3.6 2.7 0.6 0.5L51 83.6l-3.6 8.6L46.5 94.4z"/>
	</svg>

{% elsif icon_name == 'diamond_shape_radiant-cut-diamonds' %}

	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 98">
		<path d="M89.8 22L72.1 4H19.4L2.2 21.4v54.4L19.9 94h53.3l16.6-17.2L89.8 22zM88.2 22.1l-7.6 4.7L67.4 13.5 72 5.7 88.2 22.1zM46.4 78.6l16.8 5.1H29.7L46.4 78.6zM25.9 83.5l-0.7-11.4 19 5.8L25.9 83.5zM48.6 77.9L67.7 72l-0.7 11.5L48.6 77.9zM46.4 77.2l-21.3-6.5 -6.5-21.8 6.3-21.8 21.6-6.6 20.3 6 6.7 23.7 -5.7 20.5L46.4 77.2zM23.6 27.2L18 46.7l-5.6-18.9L23.6 27.2zM13.2 26.5l11.2-11.4 -0.5 10.8L13.2 26.5zM17.3 48.9l-5 17.3 -0.2-34.7L17.3 48.9zM18 51l5.8 19.5 -11.2-0.8L18 51zM24 71.8l0.6 10.9L13.4 71.1 24 71.8zM46.5 19.1l-16.4-4.8h32.2L46.5 19.1zM66.1 14.5L66.6 25l-17.8-5.2L66.1 14.5zM44.3 19.8l-19.2 5.9 0.5-11.4L44.3 19.8zM67.8 25.3l-0.5-10.1 11.4 11.6L67.8 25.3zM79.7 28.2l-5.5 19.7 -6.1-21.3L79.7 28.2zM68.9 71.9l9.9 0.4L68.2 82.8 68.9 71.9zM69.1 70.6l5.1-18.2L79.4 71 69.1 70.6zM74.8 50.2l5-18 -0.1 35.2L74.8 50.2zM70.8 5.3L66.3 13H25.4l-4.7-7.7H70.8zM19.5 5.7l4.7 7.8L11.5 26.4l-7.7-4.8L19.5 5.7zM3.4 22.8l7.5 4.8L11.1 70l-7.7 4.5V22.8zM3.8 75.7l7.8-4.5 12.9 13.3L20 92.3 3.8 75.7zM21.2 92.7l4.5-7.7h41.5l4.7 7.7L21.2 92.7zM73.1 92.3l-4.8-7.9 12.1-12 7.8 4.2L73.1 92.3zM88.6 75.4l-7.7-4.2L81 28l7.5-4.7V75.4z"/>
	</svg>

{% elsif icon_name == 'diamond_shape_princess-cut-diamonds' %}
	<svg viewBox="0 0 86 90" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M60.4214 27.2103H74.1365L82.7298 3.47244L60.4214 12.4335V27.2103Z"  stroke-miterlimit="10"/>
		<path d="M60.4214 27.2103H74.1365L82.7298 3.47244L60.4214 12.4335V27.2103Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M42.8364 3.47244H82.7297V45.073V3.47244H42.8364Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M60.4213 12.4335L42.8364 20.1483L60.4213 27.2103V12.4335Z"  stroke-miterlimit="10"/>
		<path d="M60.4213 12.4335L42.8364 20.1483L60.4213 27.2103V12.4335Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M60.4214 27.2103L66.7383 45.073L74.1365 27.2103H60.4214Z"  stroke-miterlimit="10"/>
		<path d="M60.4214 27.2103L66.7383 45.073L74.1365 27.2103H60.4214Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M25.2515 27.2103H11.5933L3 3.47247L25.2515 12.4335V27.2103Z"  stroke-miterlimit="10"/>
		<path d="M25.2515 27.2103H11.5933L3 3.47247L25.2515 12.4335V27.2103Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M42.8364 3.47247H3V45.073V3.47247H42.8364Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M3 3.47247L25.2515 12.4335H60.4213L82.7296 3.47247H3Z"  stroke-miterlimit="10"/>
		<path d="M3 3.47247L25.2515 12.4335H60.4213L82.7296 3.47247H3Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M25.2515 12.4335L42.8364 20.1483L60.4213 12.4335H25.2515Z"  stroke-miterlimit="10"/>
		<path d="M25.2515 12.4335L42.8364 20.1483L60.4213 12.4335H25.2515Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M25.2515 12.4335L42.8364 20.1483L25.2515 27.2103V12.4335Z"  stroke-miterlimit="10"/>
		<path d="M25.2515 12.4335L42.8364 20.1483L25.2515 27.2103V12.4335Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M25.2514 27.2103L18.9345 45.073L11.5933 27.2103H25.2514Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M60.4214 62.8764H74.1365L82.7298 86.6142L60.4214 77.7126V62.8764Z"  stroke-miterlimit="10"/>
		<path d="M60.4214 62.8764H74.1365L82.7298 86.6142L60.4214 77.7126V62.8764Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M42.8364 86.6736V86.6142H82.7297V45.073V86.6736H42.8364Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M60.4213 77.7126L42.8364 69.9978L60.4213 62.8764V77.7126Z"  stroke-miterlimit="10"/>
		<path d="M60.4213 77.7126L42.8364 69.9978L60.4213 62.8764V77.7126Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M74.1365 27.2103V62.8764L82.7298 86.6142V3.47244L74.1365 27.2103Z"  stroke-miterlimit="10"/>
		<path d="M74.1365 27.2103V62.8764L82.7298 86.6142V3.47244L74.1365 27.2103Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M66.7383 45.073L74.1365 62.8764V27.2103L66.7383 45.073Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M60.4214 62.8764L66.7383 45.073L74.1365 62.8764H60.4214Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M60.4213 27.2103L42.8364 20.1483L25.2515 27.2103L18.9346 45.073L25.2515 62.8764L42.8364 69.9977L60.4213 62.8764L66.7382 45.073L60.4213 27.2103Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M25.2515 62.8764H11.5933L3 86.6142L25.2515 77.7126V62.8764Z"  stroke-miterlimit="10"/>
		<path d="M25.2515 62.8764H11.5933L3 86.6142L25.2515 77.7126V62.8764Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M42.8364 86.6736V86.6142H3V45.073V86.6736H42.8364Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M3 86.6142L25.2515 77.7126H60.4213L82.7296 86.6142H3Z"  stroke-miterlimit="10"/>
		<path d="M3 86.6142L25.2515 77.7126H60.4213L82.7296 86.6142H3Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M25.2515 77.7125L42.8364 69.9977L60.4213 77.7125H25.2515Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M25.2515 77.7126L42.8364 69.9978L25.2515 62.8764V77.7126Z"  stroke-miterlimit="10"/>
		<path d="M25.2515 77.7126L42.8364 69.9978L25.2515 62.8764V77.7126Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M3 3.47247V86.6143L11.5933 62.8764V27.2103L3 3.47247Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M11.5933 27.2103V62.8764L18.9345 45.073L11.5933 27.2103Z"  stroke-miterlimit="10"/>
		<path d="M11.5933 27.2103V62.8764L18.9345 45.073L11.5933 27.2103Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M25.2514 62.8764L18.9345 45.073L11.5933 62.8764H25.2514Z"  stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	</svg>
{% elsif icon_name == 'diamond_shape_pear-shaped-diamonds' %}
	<svg viewBox="0 0 68 113" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M21.4302 109.002L23.8773 104.017L33.7225 111.732C33.7225 111.732 31.5031 111.732 28.2593 111.139C24.5602 110.427 21.4302 109.002 21.4302 109.002Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M45.8443 109.002L43.3972 104.017L33.7227 111.732C33.7227 111.732 35.7714 111.732 39.0152 111.139C42.7143 110.427 45.8443 109.002 45.8443 109.002Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M33.6088 30.7268L22.9668 24.8516L33.6657 1.52922L33.6088 30.7268Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M7.88599 37.0766L22.9669 24.8516L16.7069 19.8074C16.7069 19.8074 13.8045 24.911 12.268 27.4035C10.8453 29.8959 7.88599 37.0766 7.88599 37.0766Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M21.8286 46.6904L33.6088 30.7267L22.9668 24.8516L21.8286 46.6904Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M9.8778 60.5771L21.8287 46.6904L22.9669 24.8516L7.88599 37.0766L9.8778 60.5771Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M16.7637 19.8074L22.9668 24.8516L33.6657 1.52922C33.6657 1.52922 27.6333 6.09875 24.2188 9.89681C20.6904 13.7542 16.7637 19.8074 16.7637 19.8074Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M2.08105 59.2122L9.8776 60.5771L7.94269 37.0766C7.94269 37.0766 5.09724 45.5036 3.95905 49.717C2.76396 53.9305 2.08105 59.2122 2.08105 59.2122Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M1 75.532L9.87782 60.5771L2.08127 59.2122C2.08127 59.2122 1.51218 64.5532 1.28455 68.2326C1.05691 71.9119 1 75.532 1 75.532Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M16.3084 76.2441L21.8286 46.6905L9.8208 60.5771L16.3084 76.2441Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M10.8453 90.1307L16.3085 76.2441L9.82091 60.5771L1 75.5319L10.8453 90.1307Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M5.382 93.1573L10.8453 90.1901L1 75.532C1 75.532 1.51218 82.8907 2.42273 86.214C3.27636 89.5373 5.382 93.1573 5.382 93.1573Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M20.5198 91.555L16.3085 76.2441L10.8452 90.1307L20.5198 91.555Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M23.8774 104.077L20.5767 91.6143L23.8774 104.077Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M11.0729 101.228L23.8774 104.077L20.5198 91.555L10.8452 90.1307L11.0729 101.228Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M5.38184 93.1573C5.38184 93.1573 6.74765 95.4124 8.05656 97.3707C8.68256 98.2609 11.0727 101.228 11.0727 101.228L10.8451 90.19L5.38184 93.1573Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M21.4302 109.002C19.4384 108.053 17.8449 106.985 16.3653 105.916C13.5768 103.78 11.0728 101.228 11.0728 101.228L23.8773 104.077L21.4302 109.002Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M33.6658 30.7268L44.3078 24.8516L33.6658 1.52922V30.7268Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M59.3885 37.0766L44.3076 24.8516L50.5676 19.8074C50.5676 19.8074 53.47 24.911 55.0065 27.4035C56.4293 29.8959 59.3885 37.0766 59.3885 37.0766Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M45.446 46.6904L33.6658 30.7267L44.3078 24.8516L45.446 46.6904Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M57.4536 60.5771L45.4458 46.6904L44.3076 24.8516L59.3885 37.0766L57.4536 60.5771Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M50.5678 19.8074L44.3647 24.8516L33.6658 1.52922C33.6658 1.52922 39.6981 6.09875 43.1127 9.89681C46.5841 13.7542 50.5678 19.8074 50.5678 19.8074Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M65.1935 59.2122L57.397 60.5771L59.3319 37.0766C59.3319 37.0766 62.1773 45.5036 63.3155 49.717C64.5106 53.9305 65.1935 59.2122 65.1935 59.2122Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M66.2748 75.532L57.397 60.5771L65.1935 59.2122C65.1935 59.2122 65.7626 64.5532 65.9902 68.2326C66.2179 71.9119 66.2748 75.532 66.2748 75.532Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M56.4296 90.1307L50.9663 76.2441L57.4539 60.5771L66.2749 75.5319L56.4296 90.1307Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M61.8927 93.1573L56.4294 90.19L66.2747 75.5913C66.2747 75.5913 65.7056 82.95 64.852 86.2733C63.9983 89.5373 61.8927 93.1573 61.8927 93.1573Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M46.7549 91.555L50.9662 76.2441L56.4294 90.1307L46.7549 91.555Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M43.3973 104.077L33.6089 99.2105L46.7549 91.555L43.3973 104.077Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M56.2018 101.228L43.3972 104.077L46.7549 91.555L56.4294 90.1307L56.2018 101.228Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M61.8926 93.1573C61.8926 93.1573 60.5268 95.4124 59.2178 97.3707C58.5918 98.2609 56.2017 101.228 56.2017 101.228L56.4293 90.19L61.8926 93.1573Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M45.9012 109.002C47.893 108.053 49.4865 106.985 50.9661 105.916C53.7546 103.78 56.2586 101.228 56.2586 101.228L43.4541 104.077L45.9012 109.002Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M43.3973 104.017L33.6089 99.2104L23.8774 104.017L33.6658 111.791L43.3973 104.017Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M50.9662 76.2441L45.446 46.6905L33.6659 30.7268L21.8288 46.6905L16.3086 76.2441L20.5199 91.555L33.609 99.1511L46.755 91.555L50.9662 76.2441Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M20.5198 91.555L33.6089 99.2105L23.8774 104.017L20.5198 91.555Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	</svg>
{% elsif icon_name == 'diamond_shape_oval-diamonds' %}
	<svg viewBox="0 0 79 116" fill="none" xmlns="http://www.w3.org/2000/svg">
	  <path d="M27.7474 17.7631L39.4137 20.4929L23.0239 37.4655L27.7474 17.7631Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M8.96729 24.8251L27.7473 17.7631L23.0238 37.4655L15.3411 44.7055L8.96729 24.8251Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M3.84546 40.7888L15.3411 44.7055L8.96728 24.8251L3.84546 40.7888Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M1 58.2361L3.84545 40.7888L15.3411 44.7056L1 58.2361Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M21.6011 9.03843L27.7473 17.7621L39.4136 1.97643C39.4136 1.97643 36.3405 1.91708 32.4138 3.34135C25.1863 5.89317 21.6011 9.03843 21.6011 9.03843Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M39.4137 20.4929V1.97742L27.7473 17.7631L39.4137 20.4929Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M8.96729 24.8251C11.1298 20.671 13.9184 16.3982 17.902 12.3627C19.8938 10.4044 21.5442 8.98009 21.5442 8.98009L27.7473 17.7631L8.96729 24.8251Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M51.0799 17.7631L39.4136 20.4929L55.8034 37.4655L51.0799 17.7631Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M69.8601 24.8251L51.0801 17.7631L55.8035 37.4655L63.4863 44.7055L69.8601 24.8251Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M15.3411 44.7055L18.4711 58.2361L23.0238 37.4655L15.3411 44.7055Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M55.8037 37.4655L60.3564 58.2361L63.4864 44.7055L55.8037 37.4655Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M74.982 40.7888L63.4863 44.7055L69.8601 24.8251L74.982 40.7888Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M77.8274 58.2361L74.982 40.7888L63.4863 44.7056L77.8274 58.2361Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M57.2261 9.03843L51.0799 17.7621L39.4136 1.97643C39.4136 1.97643 42.4867 1.91708 46.4134 3.34135C53.6408 5.89317 57.2261 9.03843 57.2261 9.03843Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M39.4136 20.4929V1.97742L51.0799 17.7631L39.4136 20.4929Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M69.8601 24.8251C67.6975 20.671 64.909 16.3982 60.9254 12.3627C58.9335 10.4044 57.2832 8.98009 57.2832 8.98009L51.0801 17.7631L69.8601 24.8251Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M27.7474 98.6498L39.4137 95.9199L23.0239 78.9474L27.7474 98.6498Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M8.96729 91.5878L27.7473 98.6498L23.0238 78.9474L15.3411 71.7073L8.96729 91.5878Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M3.84546 75.5647L15.3411 71.7073L8.96728 91.5878L3.84546 75.5647Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M1 58.1768L3.84545 75.5647L15.3411 71.7073L1 58.1768Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M21.6011 107.373L27.7473 98.6497L39.4136 114.435C39.4136 114.435 36.3405 114.495 32.4138 113.07C25.1863 110.519 21.6011 107.373 21.6011 107.373Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M39.4137 95.9199V114.435L27.7473 98.6498L39.4137 95.9199Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M8.96729 91.5878C11.1298 95.7419 13.9184 100.015 17.902 104.05C19.8938 106.009 21.5442 107.433 21.5442 107.433L27.7473 98.6498L8.96729 91.5878Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M60.3563 58.1767L55.8036 37.4655L39.4137 20.4929L23.0239 37.4655L18.5281 58.1767H18.4712V58.2361H18.5281L23.0239 78.9473L39.4137 95.9199L55.8036 78.9473L60.3563 58.2361V58.1767Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M51.0799 98.6498L39.4136 95.9199L55.8034 78.9474L51.0799 98.6498Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M69.8601 91.5878L51.0801 98.6498L55.8035 78.9474L63.4863 71.7073L69.8601 91.5878Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M18.4711 58.1768L15.3411 44.7055L1 58.1768V58.2361L15.3411 71.7073L18.4711 58.2361V58.1768Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M15.3411 71.7073L18.4711 58.1768L23.0238 78.9474L15.3411 71.7073Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M77.8275 58.1768L63.4864 44.7055L60.3564 58.1768V58.2361L63.4864 71.7073L77.8275 58.2361V58.1768Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M55.8037 78.9474L60.3564 58.1768L63.4864 71.7073L55.8037 78.9474Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M74.982 75.5647L63.4863 71.7073L69.8601 91.5878L74.982 75.5647Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M77.8274 58.1768L74.982 75.5647L63.4863 71.7073L77.8274 58.1768Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M57.2261 107.373L51.0799 98.6497L39.4136 114.435C39.4136 114.435 42.4867 114.495 46.4134 113.07C53.6408 110.519 57.2261 107.373 57.2261 107.373Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M39.4136 95.9199V114.435L51.0799 98.6498L39.4136 95.9199Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	  <path d="M69.8601 91.5878C67.6975 95.7419 64.909 100.015 60.9254 104.05C58.9335 106.009 57.2832 107.433 57.2832 107.433L51.0801 98.6498L69.8601 91.5878Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	</svg>
{% elsif icon_name == 'diamond_shape_emerald-cut-diamonds' %}
	<svg viewBox="0 0 71 106" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M12.4956 79.7185L22.2271 91.4094L26.5522 83.6946L19.3247 74.9116L12.4956 79.7185Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M1 87.4927L14.9996 104.821L22.2271 91.4094L12.4956 79.7185L1 87.4927Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M19.3247 31.8274L12.4956 27.0205V79.7185L19.3247 74.9116V31.8274Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M12.4956 27.0205L1 19.3057V87.4927L12.4956 79.7185V27.0205Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M12.4956 27.0205L22.2271 15.3296L26.5522 23.0444L19.3247 31.8274L12.4956 27.0205Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M1 19.3047L14.9996 1.97607L22.2271 15.3286L12.4956 27.0195L1 19.3047Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M48.6328 91.4094H22.227L14.9995 104.821H55.8602L48.6328 91.4094Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M44.3078 83.6946H26.5521L22.2271 91.4094H48.6329L44.3078 83.6946Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M58.3644 79.7185L48.633 91.4094L44.3079 83.6946L51.5353 74.9116L58.3644 79.7185Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M69.8599 87.4927L55.8603 104.821L48.6328 91.4094L58.3643 79.7185L69.8599 87.4927Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M44.3078 23.0444H35.8853H34.9747H26.5522L19.3247 31.7087V52.3013V52.7167V75.0896L26.5522 83.6946H34.9747H35.8853H44.3078L51.5353 75.0896V52.7167V52.3013V31.7087L44.3078 23.0444Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M51.5352 31.8274L58.3642 27.0205V79.7185L51.5352 74.9116V31.8274Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M58.3643 27.0205L69.8599 19.3057V87.4927L58.3643 79.7185V27.0205Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M14.9995 1.97609L22.227 15.3286H48.6328L55.8602 1.97609H14.9995Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M22.2271 15.3296L26.5521 23.0444H44.3078L48.6329 15.3296H22.2271Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M58.3644 27.0205L48.633 15.3296L44.3079 23.0444L51.5353 31.8274L58.3644 27.0205Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M69.8599 19.3047L55.8603 1.97609L48.6328 15.3286L58.3643 27.0195L69.8599 19.3047Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	</svg>
{% elsif icon_name == 'diamond_shape_cushion-cut-diamonds' %}
	<svg viewBox="0 0 95 100" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M16.5361 33.2837L28.8854 30.0791L28.1456 49.6035L16.5361 33.2837Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M2.76418 26.4591L16.5931 33.3431L1 49.6035C1 49.6035 1.51218 40.5831 1.73982 37.5565C1.96745 34.7674 2.76418 26.4591 2.76418 26.4591Z"   stroke-miterlimit="10"/>
		<path d="M2.76418 26.4591L16.5931 33.3431L1 49.6035C1 49.6035 1.51218 40.5831 1.73982 37.5565C1.96745 34.7674 2.76418 26.4591 2.76418 26.4591Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M8.51198 8.89311L16.5362 33.2837L2.76416 26.4591C2.76416 26.4591 3.95925 18.5663 6.1218 13.4033C7.82907 9.18983 8.51198 8.89311 8.51198 8.89311Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M31.9017 17.2607L28.8855 30.0791L47.4948 29.3076L31.9017 17.2607Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M25.3572 2.83995L31.9586 17.2607L47.4948 1.05962C47.4948 1.05962 39.4706 1.47503 36.9666 1.71241C30.9912 2.24651 25.3572 2.83995 25.3572 2.83995Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M8.51196 8.89311L31.9016 17.2607L25.3571 2.83997C25.3571 2.83997 18.0158 3.73013 13.0078 5.98523C9.02415 7.76557 8.51196 8.89311 8.51196 8.89311Z"   stroke-miterlimit="10"/>
		<path d="M8.51196 8.89311L31.9016 17.2607L25.3571 2.83997C25.3571 2.83997 18.0158 3.73013 13.0078 5.98523C9.02415 7.76557 8.51196 8.89311 8.51196 8.89311Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M8.51196 8.89311L16.5361 33.2837L28.8854 30.0791L31.9016 17.2607L8.51196 8.89311Z"   stroke-miterlimit="10"/>
		<path d="M8.51196 8.89311L16.5361 33.2837L28.8854 30.0791L31.9016 17.2607L8.51196 8.89311Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M78.4533 33.2837L66.1609 30.0791L66.8438 49.6035L78.4533 33.2837Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M92.2254 26.4591L78.3965 33.3431L93.9327 49.6035C93.9327 49.6035 93.4205 40.5831 93.1928 37.5565C93.0221 34.7674 92.2254 26.4591 92.2254 26.4591Z"   stroke-miterlimit="10"/>
		<path d="M92.2254 26.4591L78.3965 33.3431L93.9327 49.6035C93.9327 49.6035 93.4205 40.5831 93.1928 37.5565C93.0221 34.7674 92.2254 26.4591 92.2254 26.4591Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M86.4773 8.89311L78.4531 33.2837L92.282 26.3998C92.282 26.3998 91.0869 18.5069 88.9244 13.344C87.1602 9.18984 86.4773 8.89311 86.4773 8.89311Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M63.0877 17.2607L66.1608 30.0791L47.4946 29.3076L63.0877 17.2607Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M47.4947 29.3076L63.0878 17.2607L47.4947 1.05962L31.9016 17.2607L47.4947 29.3076Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M69.6323 2.83995L63.0308 17.2607L47.4946 1.05962C47.4946 1.05962 55.5188 1.47503 58.0228 1.71241C63.9983 2.24651 69.6323 2.83995 69.6323 2.83995Z"   stroke-miterlimit="10"/>
		<path d="M69.6323 2.83995L63.0308 17.2607L47.4946 1.05962C47.4946 1.05962 55.5188 1.47503 58.0228 1.71241C63.9983 2.24651 69.6323 2.83995 69.6323 2.83995Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M86.4775 8.89311L63.0879 17.2607L69.6324 2.83997C69.6324 2.83997 76.9737 3.73013 81.9817 5.98523C85.9653 7.76557 86.4775 8.89311 86.4775 8.89311Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M86.4775 8.89311L78.4533 33.2837L66.161 30.0791L63.0879 17.2607L86.4775 8.89311Z"   stroke-miterlimit="10"/>
		<path d="M86.4775 8.89311L78.4533 33.2837L66.161 30.0791L63.0879 17.2607L86.4775 8.89311Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M16.5361 65.8639L28.8854 69.0685L28.1456 49.6035L16.5361 65.8639Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M16.5362 33.2838L1 49.6035L16.5362 65.8639L28.1456 49.6035L16.5362 33.2838Z"   stroke-miterlimit="10"/>
		<path d="M16.5362 33.2838L1 49.6035L16.5362 65.8639L28.1456 49.6035L16.5362 33.2838Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M2.76418 72.6885L16.5931 65.8046L1 49.6035C1 49.6035 1.51218 58.6239 1.73982 61.6504C1.96745 64.3803 2.76418 72.6885 2.76418 72.6885Z"   stroke-miterlimit="10"/>
		<path d="M2.76418 72.6885L16.5931 65.8046L1 49.6035C1 49.6035 1.51218 58.6239 1.73982 61.6504C1.96745 64.3803 2.76418 72.6885 2.76418 72.6885Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M8.51198 90.2546L16.5362 65.8639L2.76416 72.6886C2.76416 72.6886 3.95925 80.5814 6.1218 85.7444C7.82907 89.9578 8.51198 90.2546 8.51198 90.2546Z"   stroke-miterlimit="10"/>
		<path d="M8.51198 90.2546L16.5362 65.8639L2.76416 72.6886C2.76416 72.6886 3.95925 80.5814 6.1218 85.7444C7.82907 89.9578 8.51198 90.2546 8.51198 90.2546Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M31.9017 81.8869L28.8855 69.0685L47.4948 69.84L31.9017 81.8869Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M25.3572 96.3077L31.9586 81.887L47.5517 98.0881C47.5517 98.0881 39.5275 97.6727 37.0235 97.4353C30.9912 96.9605 25.3572 96.3077 25.3572 96.3077Z"   stroke-miterlimit="10"/>
		<path d="M25.3572 96.3077L31.9586 81.887L47.5517 98.0881C47.5517 98.0881 39.5275 97.6727 37.0235 97.4353C30.9912 96.9605 25.3572 96.3077 25.3572 96.3077Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M8.51196 90.2546L31.9016 81.887L25.3001 96.3077C25.3001 96.3077 17.9589 95.4176 12.9509 93.1625C9.02414 91.3821 8.51196 90.2546 8.51196 90.2546Z"   stroke-miterlimit="10"/>
		<path d="M8.51196 90.2546L31.9016 81.887L25.3001 96.3077C25.3001 96.3077 17.9589 95.4176 12.9509 93.1625C9.02414 91.3821 8.51196 90.2546 8.51196 90.2546Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M8.51196 90.2546L16.5361 65.8639L28.8854 69.0685L31.9016 81.887L8.51196 90.2546Z"   stroke-miterlimit="10"/>
		<path d="M8.51196 90.2546L16.5361 65.8639L28.8854 69.0685L31.9016 81.887L8.51196 90.2546Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M78.4533 65.8639L66.1609 69.0685L66.8438 49.6035L78.4533 65.8639Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M78.4532 33.2838L66.8438 49.6035L78.4532 65.8639L93.9894 49.6035L78.4532 33.2838Z"   stroke-miterlimit="10"/>
		<path d="M78.4532 33.2838L66.8438 49.6035L78.4532 65.8639L93.9894 49.6035L78.4532 33.2838Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M92.2254 72.6886L78.3965 65.8046L93.9327 49.5442C93.9327 49.5442 93.4205 58.5645 93.1928 61.5911C93.0221 64.3803 92.2254 72.6886 92.2254 72.6886Z"   stroke-miterlimit="10"/>
		<path d="M92.2254 72.6886L78.3965 65.8046L93.9327 49.5442C93.9327 49.5442 93.4205 58.5645 93.1928 61.5911C93.0221 64.3803 92.2254 72.6886 92.2254 72.6886Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M86.4773 90.2546L78.4531 65.8639L92.282 72.7479C92.282 72.7479 91.0869 80.6407 88.9244 85.8037C87.1602 89.9578 86.4773 90.2546 86.4773 90.2546Z"   stroke-miterlimit="10"/>
		<path d="M86.4773 90.2546L78.4531 65.8639L92.282 72.7479C92.282 72.7479 91.0869 80.6407 88.9244 85.8037C87.1602 89.9578 86.4773 90.2546 86.4773 90.2546Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M63.0877 81.8869L66.1608 69.0685L47.4946 69.84L63.0877 81.8869Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M47.4949 69.84L63.088 81.887L47.4949 98.0881L31.9019 81.887L47.4949 69.84Z"   stroke-miterlimit="10"/>
		<path d="M47.4949 69.84L63.088 81.887L47.4949 98.0881L31.9019 81.887L47.4949 69.84Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M69.6325 96.3077L63.0311 81.887L47.438 98.0881C47.438 98.0881 55.4622 97.6727 57.9662 97.4353C63.9985 96.9605 69.6325 96.3077 69.6325 96.3077Z"   stroke-miterlimit="10"/>
		<path d="M69.6325 96.3077L63.0311 81.887L47.438 98.0881C47.438 98.0881 55.4622 97.6727 57.9662 97.4353C63.9985 96.9605 69.6325 96.3077 69.6325 96.3077Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M86.4775 90.2546L63.0879 81.887L69.6893 96.3077C69.6893 96.3077 77.0306 95.4176 82.0386 93.1625C85.9653 91.3821 86.4775 90.2546 86.4775 90.2546Z"   stroke-miterlimit="10"/>
		<path d="M86.4775 90.2546L63.0879 81.887L69.6893 96.3077C69.6893 96.3077 77.0306 95.4176 82.0386 93.1625C85.9653 91.3821 86.4775 90.2546 86.4775 90.2546Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M66.1608 30.0791L47.4946 29.3076L28.8853 30.0791L28.1455 49.6035L28.8853 69.0685L47.4946 69.84L66.1608 69.0685L66.8437 49.6035L66.1608 30.0791Z"   stroke-miterlimit="10"/>
		<path d="M66.1608 30.0791L47.4946 29.3076L28.8853 30.0791L28.1455 49.6035L28.8853 69.0685L47.4946 69.84L66.1608 69.0685L66.8437 49.6035L66.1608 30.0791Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
		<path d="M86.4775 90.2546L78.4533 65.8639L66.161 69.0685L63.0879 81.887L86.4775 90.2546Z"   stroke-miterlimit="10"/>
		<path d="M86.4775 90.2546L78.4533 65.8639L66.161 69.0685L63.0879 81.887L86.4775 90.2546Z"   stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
	</svg>
{% elsif icon_name == 'contact_icon' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 27" class="svg contact" style="enable-background:new 0 0 24 27; width: 24px; height: 27px;"><path d="M15.4 12.8l-5.1 5.1c-1.1-0.9-2-1.8-2.8-2.9l5.1-5.1L9.7 1.5H0v1.6c0 7.3 3.6 14.1 9.5 18.3 0.3 0.2 0.6 0.4 0.9 0.6 3.6 2.3 7.8 3.5 12 3.5H24v-9.8L15.4 12.8zM5.6 12.3c-1.3-2.3-2-4.8-2.3-7.5h4l1.4 4.3L5.6 12.3zM20.7 22.2c-2.7-0.2-5.3-1-7.7-2.4l3.2-3.2 4.5 1.5L20.7 22.2z"/></svg>
{% elsif icon_name == 'chat_icon' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 27" class="svg chat" style="enable-background:new 0 0 24 27; width: 24px; height: 27px;"><path d="M0 3.7v23.5h2.9l5.3-3.8H24V3.7H0zM20.7 20H7.1l-3.8 2.8V6.9h17.5V20zM17.5 15.7H6.5v-3.3h10.9V15.7z"/></svg>
{% elsif icon_name == 'email_icon' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 27" class="svg email" style="enable-background:new 0 0 27 27; width: 27px; height: 27px;"><path d="M0 3.7v19.7h27V3.7H0zM20.8 7.4l-7.3 5.1L6.2 7.4H20.8zM23.3 19.6H3.7v-9.5l9.8 6.9 9.8-6.9V19.6z"/></svg>
{% elsif icon_name == 'cart_icon' %}
	<svg version="1.1" class="svg cart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 27" style="enable-background:new 0 0 24 27; width: 24px; height: 27px;" xml:space="preserve"><g><path d="M0,6v21h24V6H0z M22,25H2V8h20V25z"/></g><g><path d="M12,2c3,0,3,2.3,3,4h2c0-2.8-1-6-5-6S7,3.2,7,6h2C9,4.3,9,2,12,2z"/></g></svg>
{% elsif icon_name == 'facebook_icon' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M24.99,0H1.16C0.43,0,0,0.43,0,1.01v23.83C0,25.57,0.43,26,1.16,26h12.71v-9.82h-3.32v-4.04h3.32V8.96c0-3.32,2.17-5.06,5.06-5.06c1.44,0,2.6,0.14,3.03,0.14v3.47h-2.02c-1.59,0-2.02,0.72-2.02,1.88v2.74h4.04l-0.87,4.04h-3.32V26h6.93c0.58,0,1.16-0.43,1.16-1.16V1.01C26,0.43,25.57,0,24.99,0z"/></svg>
{% elsif icon_name == 'twitter_icon' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M25.83 5.57c-.94.47-2 .7-3.05.82 1.06-.7 1.88-1.64 2.35-2.94-1.06.6-2.1 1.06-3.4 1.3-.94-1.06-2.35-1.64-3.87-1.64-2.94 0-5.28 2.35-5.28 5.28 0 .47 0 .82.12 1.17-4.47-.23-8.35-2.34-10.93-5.5-.47.82-.7 1.64-.7 2.7 0 1.88.94 3.4 2.35 4.46a4.25 4.25 0 0 1-2.35-.7v.12c0 2.58 1.88 4.7 4.23 5.17-.47 0-.94.12-1.4.12-.35 0-.7 0-.94-.12.6 2.1 2.58 3.64 4.93 3.64-1.88 1.53-4.1 2.35-6.58 2.35-.47 0-.82 0-1.3-.12C2.35 23.18 5.17 24 8.1 24c9.75 0 15.03-8.1 15.03-15.03v-.7a9.91 9.91 0 0 0 2.7-2.7z"/></svg>
{% elsif icon_name == 'zoom_in_icon' %}
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 36 36" style="enable-background:new 0 0 36 36; width: 36px; height: 36px;" xml:space="preserve"><polyline points="6,14 9,11 14,16 16,14 11,9 14,6 6,6 "/><polyline points="22,6 25,9 20,14 22,16 27,11 30,14 30,6 "/><polyline points="30,22 27,25 22,20 20,22 25,27 22,30 30,30 "/><polyline points="14,30 11,27 16,22 14,20 9,25 6,22 6,30 "/></svg>
{% elsif icon_name == 'zoom_out_icon' %}
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36" style="enable-background:new 0 0 36 36; width: 36px; height: 36px;" xml:space="preserve"><polyline points="16,8 13,11 8,6 6,8 11,13 8,16 16,16 "/><polyline points="28,16 25,13 30,8 28,6 23,11 20,8 20,16 "/><polyline points="20,28 23,25 28,30 30,28 25,23 28,20 20,20 "/><polyline points="8,20 11,23 6,28 8,30 13,25 16,28 16,20 "/></svg>
{% elsif icon_name == 'search_icon' %}
	<svg version="1.1" class="svg search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 27" style="enable-background:new 0 0 24 27; width: 24px; height: 27px;" xml:space="preserve"><path d="M10,2C4.5,2,0,6.5,0,12s4.5,10,10,10s10-4.5,10-10S15.5,2,10,2z M10,19c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S13.9,19,10,19z"/><rect x="17" y="17" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -9.2844 19.5856)" width="4" height="8"/></svg>
{% elsif icon_name == 'account_icon' %}
	<svg version="1.1" class="svg account" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 27" style="enable-background:new 0 0 24 27; width: 24px; height: 27px;" xml:space="preserve"><path d="M11.5,2C7.9,2,5,4.9,5,8.5S7.9,15,11.5,15S18,12.1,18,8.5S15.1,2,11.5,2z M11.5,13C9,13,7,11,7,8.5S9,4,11.5,4S16,6,16,8.5
	S14,13,11.5,13z M22,26H1v-2h21V26z M3,24H1v-8h2V24z M22,24h-2v-8h2V24z M2.3,17.6L1.1,16l3.8-2.9l1.2,1.6L2.3,17.6z M2.3,17.6
	L1.1,16l3.8-2.9l1.2,1.6L2.3,17.6z M16.9,14.6l1.2-1.6L22,16l-1.2,1.6L16.9,14.6z"/></svg>
{% elsif icon_name == 'close_icon' %}
	<svg version="1.1" class="svg close" xmlns="//www.w3.org  /2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="45px" height="45px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812   22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 "/></svg>
{% elsif icon_name == 'check_icon' %}
	<svg version="1.1" class="svg check" xmlns="//www.w3.org  /2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" xml:space="preserve" x="0px" y="0px" width="111px" height="80px" viewBox="0 0 111 80"><g><path d="M 108.9767 10.3015 L 41.8015 77.4767 C 41.4479 77.8303 41.0494 78.1039 40.6354 78.3411 C 38.4844 79.9092 35.4622 79.7404 33.5209 77.799 L 1.701 45.9792 C -0.4468 43.8313 -0.4468 40.3489 1.701 38.201 C 3.8489 36.0532 7.3314 36.0532 9.4792 38.201 L 37.5 66.2218 L 101.1985 2.5234 C 103.3464 0.3755 106.8289 0.3755 108.9767 2.5234 C 111.1246 4.6712 111.1246 8.1537 108.9767 10.3015 Z" /></g></svg>
{% elsif icon_name == 'reload_icon' %}
	<svg version="1.0" class="svg reload" xmlns="//www.w3.org  /2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve" style="position: relative; top: 8px;"><g><path d="M22.339,1.386c-0.885-0.079-1.664,0.574-1.743,1.458l-0.077,0.875c-2.267-2.107-5.196-3.263-8.308-3.263C5.478,0.456,0,5.933,0,12.666s5.478,12.212,12.211,12.212c4.653,0,8.84-2.587,10.923-6.748c0.397-0.792,0.077-1.758-0.717-2.155c-0.792-0.397-1.757-0.078-2.155,0.717c-1.536,3.066-4.621,4.973-8.051,4.973c-4.962,0-8.999-4.035-8.999-8.998c0-4.961,4.037-8.999,8.999-8.999c2.317,0,4.495,0.869,6.172,2.452l-1.292-0.115c-0.88-0.081-1.664,0.573-1.741,1.458c-0.08,0.883,0.573,1.663,1.457,1.742l4.799,0.426c0.047,0.004,0.095,0.006,0.143,0.006c0.376,0,0.74-0.131,1.03-0.374c0.327-0.273,0.53-0.666,0.569-1.09l0.448-5.045C23.874,2.245,23.222,1.465,22.339,1.386z"/></g></svg>
{% elsif icon_name == 'right_icon' %}
	<svg version="1.1" class="svg right" xmlns="//www.w3.org  /2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><g><path d="M35.195,26.268c0.908,0.991,1.694,1.745,2.357,2.261c0.663,0.517,1.289,0.901,1.877,1.154v0.461c-0.677,0.328-1.333,0.747-1.969,1.256c-0.636,0.51-1.395,1.257-2.276,2.241h-0.79c0.643-1.375,1.316-2.431,2.021-3.169H20.06v-1.036h16.355c-0.52-0.656-0.882-1.146-1.087-1.471s-0.51-0.891-0.912-1.697H35.195z"/></g></svg>
{% elsif icon_name == 'left_icon' %}
	<svg version="1.1" class="svg left" xmlns="//www.w3.org  /2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><g><path d="M24.294,33.641c-0.908-0.991-1.694-1.745-2.357-2.261c-0.663-0.517-1.289-0.901-1.877-1.154v-0.461c0.677-0.329,1.333-0.748,1.969-1.256c0.635-0.51,1.395-1.257,2.276-2.242h0.79c-0.643,1.375-1.316,2.431-2.021,3.169l16.355,0v1.036l-16.355,0c0.52,0.657,0.882,1.147,1.086,1.471c0.206,0.325,0.51,0.891,0.912,1.697H24.294z"/></g></svg>
{% elsif icon_name == 'grid_icon' %}
	<svg version="1.1" class="svg grid" xmlns="//www.w3.org  /2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><rect x="35.75" y="20" width="5" height="5"/><rect x="27.75" y="20" width="5" height="5"/><rect x="19.75" y="20" width="5" height="5"/><rect x="35.75" y="28" width="5" height="5"/><rect x="27.75" y="28" width="5" height="5"/><rect x="19.75" y="28" width="5" height="5"/><rect x="35.75" y="36" width="5" height="5"/><rect x="27.75" y="36" width="5" height="5"/><rect x="19.75" y="36" width="5" height="5"/></svg>
{% elsif icon_name == 'share_icon' %}
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 24 24" xml:space="preserve"><path d="M14.9,14.9c-1,0-1.8,0.4-2.5,1l-5.2-3.5c0.1-0.4,0.2-0.8,0.2-1.2S7.4,10.3,7.2,10l5.2-3.5c0.7,0.6,1.5,1,2.5,1c2,0,3.7-1.7,3.7-3.7S16.9,0,14.9,0s-3.7,1.7-3.7,3.7c0,0.4,0.1,0.8,0.2,1.2L6.2,8.4c-0.7-0.6-1.5-1-2.5-1c-2,0-3.7,1.7-3.7,3.7s1.7,3.7,3.7,3.7c1,0,1.8-0.4,2.5-1l5.2,3.5c-0.1,0.4-0.2,0.8-0.2,1.2c0,2,1.7,3.7,3.7,3.7s3.7-1.7,3.7-3.7S16.9,14.9,14.9,14.9z"/></svg>
{% elsif icon_name == 'arrow_icon' %}
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 8" style="enable-background:new 0 0 12 8; width: 12px; height: 8px;" xml:space="preserve"><polyline points="0,2 2,0 6,4 10,0 12,2 6,8 0,2 "/></svg>
{% elsif icon_name == 'arrow_icon_long' %}
	<svg version="1.1" class="svg longarrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 41 10" style="enable-background:new 0 0 41 10; width: 41px; height: 10px;" xml:space="preserve"><polygon points="0,4 35,4 35,0 41,5 35,10 35,6 0,6 "/></svg>
{% elsif icon_name == 'arrow_icon_long_overflowed' %}
	<span class="longarrow"><span class="overflowed"><svg version="1.1" class="svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 41 10" style="enable-background:new 0 0 41 10; width: 41px; height: 10px;" xml:space="preserve"><polygon points="0,4 35,4 35,0 41,5 35,10 35,6 0,6 "/></svg></span></span>
{% elsif icon_name == 'arrow_icon_smaller' %}
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 31 10" style="enable-background:new 0 0 31 10; width: 31px; height: 10px;" xml:space="preserve"><polygon points="31,5 25,0 25,4 0,4 0,6 25,6 25,10 "/></svg>
{% elsif icon_name == 'arrow_icon_smallest' %}
	<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" style="width:21px; height: 10px;" viewBox="0 0 21 10"><path d="M21.000,5.000 L15.000,10.000 L15.000,6.000 L-0.000,6.000 L-0.000,4.000 L15.000,4.000 L15.000,0.000 L21.000,5.000 Z" /></svg>
{% elsif icon_name == 'plus_icon' %}
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100; width: 100px; height: 100px" xml:space="preserve"><polygon points="0,48 49,48 49,0 52,0 52,48 100,48 100,51 52,51 52,100 49,100 49,51 0,51 "/></svg>
{% elsif icon_name == 'minus_icon' %}
	<svg version="1.0" class="svg minus" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="10px" height="10px" viewBox="0 0 10 10" enable-background="new 0 0 10 10" xml:space="preserve"><rect y="4" width="10" height="2"/></svg>
{% elsif icon_name == 'hamburger_icon' %}
	<svg class="svg hamburger" xmlns="//www.w3.org/2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><g><rect x="18" y="20" width="25" height="4"/><rect x="18" y="28" width="25" height="4"/><rect x="18" y="36" width="25" height="4"/></g></svg>
{% elsif icon_name == 'heart_icon' %}
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" style="enable-background:new 0 0 25 25; width: 25px; height: 25px;" xml:space="preserve"><g transform="translate(0,-952.36218)"><path d="M1.8,956.2c-2.4,2.4-2.4,6.3,0,8.8l10.6,10.8c3.5-3.6,7.1-7.2,10.6-10.8c2.4-2.4,2.4-6.3,0-8.8c-2.4-2.4-6.2-2.4-8.6,0l-1.9,2l-2-2C8,953.8,4.2,953.8,1.8,956.2z"/></g></svg>
{% elsif icon_name == 'rss_icon' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><circle cx="3.81" cy="22.19" r="3.68"/><path d="M26 25.86h-5.04C20.96 14.3 11.57 4.9 0 4.9V0c14.3 0 26 11.57 26 25.86zm-8.7 0h-4.9c0-6.8-5.6-12.26-12.26-12.26V8.58c9.52 0 17.15 7.76 17.15 17.28z"/></svg>
{% elsif icon_name == 'social_email' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M25.87 5.42V4.9H.1v15.28c0 .4.4.78.78.78h24.35c.4 0 .78-.4.78-.78l-.14-14.76zm-2.98.77l-9.97 8.3-9.97-8.3H22.9zM1.52 19.4V7.1l10.88 8.94c.13.13.26.13.52.13s.4 0 .52-.13L24.32 7.1v12.3H1.52z"/></svg>
{% elsif icon_name == 'social_facebook' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M24.99,0H1.16C0.43,0,0,0.43,0,1.01v23.83C0,25.57,0.43,26,1.16,26h12.71v-9.82h-3.32v-4.04h3.32V8.96c0-3.32,2.17-5.06,5.06-5.06c1.44,0,2.6,0.14,3.03,0.14v3.47h-2.02c-1.59,0-2.02,0.72-2.02,1.88v2.74h4.04l-0.87,4.04h-3.32V26h6.93c0.58,0,1.16-0.43,1.16-1.16V1.01C26,0.43,25.57,0,24.99,0z"/></svg>
{% elsif icon_name == 'social_twitter' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M25.83 5.57c-.94.47-2 .7-3.05.82 1.06-.7 1.88-1.64 2.35-2.94-1.06.6-2.1 1.06-3.4 1.3-.94-1.06-2.35-1.64-3.87-1.64-2.94 0-5.28 2.35-5.28 5.28 0 .47 0 .82.12 1.17-4.47-.23-8.35-2.34-10.93-5.5-.47.82-.7 1.64-.7 2.7 0 1.88.94 3.4 2.35 4.46a4.25 4.25 0 0 1-2.35-.7v.12c0 2.58 1.88 4.7 4.23 5.17-.47 0-.94.12-1.4.12-.35 0-.7 0-.94-.12.6 2.1 2.58 3.64 4.93 3.64-1.88 1.53-4.1 2.35-6.58 2.35-.47 0-.82 0-1.3-.12C2.35 23.18 5.17 24 8.1 24c9.75 0 15.03-8.1 15.03-15.03v-.7a9.91 9.91 0 0 0 2.7-2.7z"/></svg>
{% elsif icon_name == 'social_flickr' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M24.85 0H1.15C.43 0 0 .43 0 1.15v23.7c0 .57.43 1 1.15 1h23.7c.57 0 1.15-.43 1.15-1.15V1.15C25.86.43 25.43 0 24.85 0zM7.6 17.24c-2.44 0-4.3-1.87-4.3-4.3s1.87-4.3 4.3-4.3 4.3 1.87 4.3 4.3-2 4.3-4.3 4.3zm10.78 0c-2.44 0-4.3-1.87-4.3-4.3s1.87-4.3 4.3-4.3 4.3 1.87 4.3 4.3-2 4.3-4.3 4.3z"/></svg>
{% elsif icon_name == 'social_google' %}
	<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 26 26"><g fill="rgb(86.27451%,30.588235%,25.490196%)"><path d="M26.047 13.023a13.03 13.03 0 0 1-13.023 13.023A13.03 13.03 0 0 1 0 13.023 13.03 13.03 0 0 1 13.023 0a13.03 13.03 0 0 1 13.023 13.023zm0 0"/><path class="invert-fill" d="M4.535 13.14c-.047 2.242 1.496 4.38 3.617 5.078 2 .672 4.46.168 5.79-1.543.973-1.203 1.195-2.8 1.1-4.297l-5.137-.008.004 1.828 3.074.035c-.258.89-.848 1.715-1.742 2.035-1.727.762-3.934-.234-4.477-2.047-.656-1.734.418-3.828 2.19-4.336 1.102-.387 2.234.05 3.176.62.477-.445.922-.922 1.36-1.406-1.066-.895-2.44-1.44-3.855-1.32-2.77.03-5.195 2.6-5.1 5.36zm13.828-2.31l-.012 1.535-1.535.008v1.53l1.535.008.008 1.535h1.527l.012-1.535 1.535-.008V12.38l-1.535-.012-.012-1.535zm0 0"/></g></svg>
{% elsif icon_name == 'social_instagram' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M13 2.4l5.2.1c1.3.1 1.9.3 2.4.4.6.2 1 .5 1.5 1s.7.9 1 1.5c.2.5.4 1.1.4 2.4.1 1.4.1 1.8.1 5.2l-.1 5.2c-.1 1.3-.3 1.9-.4 2.4-.2.6-.5 1-1 1.5s-.9.7-1.5 1c-.5.2-1.1.4-2.4.4-1.4.1-1.8.1-5.2.1s-3.9 0-5.2-.1-1.9-.3-2.4-.4c-.6-.2-1-.5-1.5-1s-.7-.9-1-1.5c-.2-.5-.4-1.1-.4-2.4-.1-1.4-.1-1.8-.1-5.2l.1-5.2c.1-1.3.3-1.9.4-2.4.2-.6.5-1 1-1.5s.9-.7 1.5-1c.5-.2 1.1-.4 2.4-.4 1.3-.1 1.7-.1 5.2-.1m0-2.3L7.7.2C6.3.2 5.4.4 4.5.7c-.8.4-1.5.8-2.3 1.5C1.5 3 1.1 3.7.7 4.5.4 5.4.2 6.3.1 7.7V13l.1 5.3c.1 1.4.3 2.3.6 3.1.3.9.8 1.6 1.5 2.3s1.4 1.2 2.3 1.5c.8.3 1.8.5 3.1.6 1.4.1 1.8.1 5.3.1l5.3-.1c1.4-.1 2.3-.3 3.1-.6.9-.3 1.6-.8 2.3-1.5s1.2-1.4 1.5-2.3c.3-.8.5-1.8.6-3.1.1-1.4.1-1.8.1-5.3l-.1-5.3c-.1-1.4-.3-2.3-.6-3.1-.3-.9-.8-1.6-1.5-2.3S22.3 1.1 21.4.8c-.8-.3-1.8-.5-3.1-.6S16.5.1 13 .1zm0 6.3c-3.7 0-6.6 3-6.6 6.6s3 6.6 6.6 6.6 6.6-3 6.6-6.6-2.9-6.6-6.6-6.6zm0 10.9c-2.4 0-4.3-1.9-4.3-4.3s1.9-4.3 4.3-4.3 4.3 1.9 4.3 4.3-1.9 4.3-4.3 4.3z"/><circle cx="19.9" cy="6.1" r="1.6"/></svg>
{% elsif icon_name == 'social_linkedin' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M24.85 0H1.15C.43 0 0 .43 0 1.15v23.7c0 .57.43 1 1.15 1h23.7c.57 0 1.15-.43 1.15-1.15V1.15C25.86.43 25.43 0 24.85 0zM7.6 21.98H3.88V9.62h3.88v12.35H7.6zM5.75 8.04c-1.3 0-2.15-1-2.15-2.3s1-2.15 2.15-2.15c1.3 0 2.15 1 2.15 2.15.14 1.3-.86 2.3-2.15 2.3zm16.23 13.94H18.1v-6.03c0-1.44 0-3.3-2-3.3s-2.3 1.58-2.3 3.16v6.03h-3.73V9.62h3.73v1.72c.57-1 1.72-2 3.6-2 3.88 0 4.6 2.6 4.6 5.9v6.76z"/></svg>
{% elsif icon_name == 'social_pinterest' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M13 0C5.85 0 0 5.85 0 13c0 5.46 3.38 10.27 8.32 12.1-.13-1.04-.26-2.6 0-3.77l1.56-6.5s-.4-.65-.4-1.82c0-1.82 1.04-3.12 2.34-3.12 1.17 0 1.7.78 1.7 1.82 0 1.17-.65 2.73-1.04 4.3-.26 1.3.65 2.34 1.95 2.34 2.34 0 4.03-2.47 4.03-5.98 0-3.12-2.2-5.33-5.46-5.33-3.64 0-5.85 2.73-5.85 5.6 0 1.17.4 2.34.9 3 .13.13.13.26.13.4-.13.4-.26 1.3-.4 1.43 0 .26-.13.26-.4.13-1.56-.78-2.6-3.12-2.6-5.07 0-4.16 3-7.93 8.58-7.93 4.55 0 8.06 3.25 8.06 7.54 0 4.42-2.86 8.06-6.76 8.06-1.3 0-2.6-.65-3-1.43l-.78 3.12c-.26 1.17-1.04 2.6-1.56 3.38 1.04.52 2.34.78 3.64.78 7.15 0 13-5.85 13-13S20.15 0 13 0z"/></svg>
{% elsif icon_name == 'social_reddit' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M26 12.6a3.18 3.18 0 0 0-3.12-3.12c-.72 0-1.44.24-1.92.72-1.92-1.2-4.32-1.92-6.85-2.04l1.32-4.2 3.72.84c.12 1.32 1.2 2.4 2.52 2.4 1.44 0 2.64-1.2 2.64-2.64S23.1 1.9 21.67 1.9c-.96 0-1.92.6-2.28 1.44l-4.32-.96c-.36-.12-.72.12-.84.48l-1.68 5.28c-2.64 0-5.28.72-7.2 2.04-.6-.48-1.2-.72-1.92-.72A3.18 3.18 0 0 0 .3 12.59c0 1.08.48 2.04 1.32 2.52v.72c0 2.16 1.2 4.08 3.48 5.52 2.16 1.56 4.92 2.28 8.05 2.28 3 0 5.88-.72 8.05-2.16 2.28-1.44 3.48-3.48 3.48-5.52v-.72c.72-.6 1.32-1.56 1.32-2.64zm-4.32-9.13c.6 0 1.2.48 1.2 1.2 0 .6-.48 1.2-1.2 1.2a1.13 1.13 0 0 1-1.2-1.2c.12-.72.6-1.2 1.2-1.2zM7.63 14.5a1.85 1.85 0 0 1 1.8-1.8c.96 0 1.68.84 1.68 1.8a1.64 1.64 0 0 1-1.68 1.68c-1.08 0-1.8-.72-1.8-1.68zm9.72 5.16c-.84.84-2.28 1.32-4.2 1.32s-3.36-.48-4.2-1.32c-.24-.24-.24-.72 0-.96s.72-.24.96 0c.6.6 1.68.96 3.24.96s2.64-.24 3.24-.96c.24-.24.72-.24.96 0 .36.24.36.6 0 .96zM17 16.2c-.96 0-1.8-.72-1.8-1.68a1.85 1.85 0 0 1 1.8-1.8c.96 0 1.68.84 1.68 1.8a1.64 1.64 0 0 1-1.68 1.68z"/></svg>
{% elsif icon_name == 'social_vimeo' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M25.9 7.3c-.12 2.47-1.88 6-5.3 10.36-3.53 4.6-6.48 6.83-8.95 6.83-1.53 0-2.83-1.4-3.9-4.24L5.65 12.6c-.7-2.7-1.53-4.1-2.35-4.1-.24 0-.94.35-2.12 1.18L0 8.13C1.3 6.95 2.6 5.9 3.77 4.7c1.65-1.53 2.94-2.24 3.9-2.36 2-.24 3.3 1.18 3.77 4.12.47 3.18.82 5.18 1.06 5.9.6 2.6 1.18 4 1.88 4 .6 0 1.4-.82 2.47-2.6s1.65-3.06 1.77-3.9c.12-1.53-.47-2.24-1.77-2.24-.6 0-1.3.12-1.88.47C16.26 4 18.6 1.87 22.26 2c2.6.25 3.77 1.9 3.65 5.3z"/></svg>
{% elsif icon_name == 'social_youtube' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M25.76 8.2s-.24-1.77-1.06-2.6c-.95-1.06-2.13-1.06-2.6-1.06L13 4.3l-9.1.24c-.47 0-1.65 0-2.6 1.06C.47 6.43.24 8.2.24 8.2S0 10.33 0 12.45v2c0 2.13.24 4.25.24 4.25s.24 1.77 1.06 2.6c.95 1.06 2.25.95 2.84 1.06 2.12.25 8.86.25 8.86.25l9.1-.24c.47-.12 1.65-.12 2.6-1.06.83-.83 1.06-2.6 1.06-2.6s.24-2.13.24-4.26v-2c0-2.12-.24-4.25-.24-4.25zm-15.48 8.63V9.5l6.97 3.66-6.97 3.67z"/></svg>
{% elsif icon_name == 'social_tumblr' %}
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26"><path d="M19.02 20.9c-.52.26-1.44.4-2.1.4-2.1 0-2.48-1.44-2.48-2.6v-8.1h5.23V6.66h-5.23V0h-3.8s-.13 0-.13.13c-.4 2.1-1.3 5.62-5.23 7.06v3.4h2.6v8.5c0 2.87 2.22 7.05 7.84 6.92 1.96 0 4.05-.78 4.57-1.57l-1.3-3.53z"/></svg>
{% elsif icon_name == 'icon_video_play' %}
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 47 47" style="enable-background:new 0 0 47 47; width: 47px; height: 47px;" xml:space="preserve"><g><path d="M23.5,1C11.1,1,1,11.1,1,23.5C1,35.9,11.1,46,23.5,46S46,35.9,46,23.5S35.9,1,23.5,1z M23.5,42.4
		c-10.4,0-18.9-8.5-18.9-18.9S13.1,4.6,23.5,4.6s18.9,8.5,18.9,18.9S33.9,42.4,23.5,42.4z"/><path d="M32.5,22l-12.6-7.8c-1.1-0.7-2.6,0.1-2.6,1.5v15.7c0,1.3,1.5,2.2,2.6,1.5L32.5,25C33.6,24.3,33.6,22.7,32.5,22z"/></g></svg>
{% elsif icon_name == 'icon_avatar' %}
	<svg version="1.1" class="avatar" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 151 151" style="enable-background:new 0 0 151 75; width: 75px; height: 75px;" xml:space="preserve"><path d="M25,158.2V125c0-17.9,13.8-32.5,31.3-33.4l1.9-0.1v-8l-0.5-0.6c-3.8-4.3-5.8-9.6-5.8-15.4V56c0-13.1,10.6-23.7,23.7-23.7
	h0.7c13.1,0,23.7,10.6,23.7,23.7v11.5c0,5.7-2.1,11.1-5.8,15.4l-0.5,0.6v8l1.9,0.1c17.6,1,31.4,15.7,31.4,33.4v33.2H25z M56.7,96.8
	C42,97.3,30,110.1,30,125.2v28.5h92v-28.5c0-15.3-11.7-27.8-26.7-28.4l-1.6-0.1l-0.4,1.6c-2,8.1-9.1,13.7-17.3,13.7
	c-8.2,0-15.3-5.7-17.3-13.7l-0.4-1.6L56.7,96.8z M63.2,93.7c0,7.2,5.7,13.1,12.8,13.1s12.8-5.9,12.8-13.1V88L86,89.2
	c-3,1.3-6.1,2-9.6,2h-0.7c-3.5,0-6.6-0.6-9.6-2L63.2,88V93.7z M75.6,37.3c-10.3,0-18.7,8.4-18.7,18.7v11.5
	c0,10.3,8.4,18.7,18.7,18.7h0.7c10.3,0,18.7-8.4,18.7-18.7V56c0-10.3-8.4-18.7-18.7-18.7H75.6z"/></svg>
{% endif %}
