{% if section.settings.height == '100' %}
  {% if section.blocks.size == 1 %}
    {% assign size_class = 'box--bigger box--typo-bigger lap--box--small-fl fix-me-with-height' %}
  {% elsif section.blocks.size == 2 and forloop.index < 3 %}
    {% assign size_class = 'box--big box--typo-big lap--box--small-lg palm--box--small-fl' %}
  {% elsif section.blocks.size == 4 %}
    {% assign size_class = 'box--small box--typo-small lap--box--small-lg palm--box--small-fl' %}
  {% else %}
    {% if forloop.index == 1 %}
      {% assign size_class = 'box--big box--typo-big lap--box--small-lg palm--box--small-fl' %}
    {% elsif forloop.index == 2 %}
      {% assign size_class = 'box--small-lg box--typo-big  palm--box--small-fl' %}
    {% elsif forloop.index == 3 and section.blocks.size == 3 %}
      {% assign size_class = 'box--small-lg box--typo-big palm--box--small-fl' %}
    {% else %}
      {% assign size_class = 'box--small box--typo-small lap--box--small-lg palm--box--small-fl' %}
    {% endif %}
  {% endif %}
{% else %}
  {% if section.blocks.size == 1 %}
    {% assign size_class = 'box--small-fl box--typo-big' %}
  {% elsif section.blocks.size == 2 %}
    {% assign size_class = 'box--small-lg box--typo-big palm--box--small-fl' %}
  {% endif %}
{% endif %}


<{% unless block.settings.button != blank %}a{% else %}div{% endunless %} {% unless block.settings.link == blank %} href="{{ block.settings.link | escape }}" {% endunless %} id="block-{{ block.id }}" {{ block.shopify_attributes }} class="site-box box--center-align box--column-flow {{ size_class }} box__image-text style--{{ block.settings.bg_style }} align--{{ block.settings.txt_align }} button-{{ block.settings.button }} {% unless block.settings.video_src == blank %} with-video {% endunless %} {{ block.settings.classes }} home-box" data-order="{{ forloop.index0 }}" style="background-color: {{ block.settings.bg_color }}">

  <div class="site-box-content">

    <div class="content">

      <div class="top">

        {% unless block.settings.title == blank %}
          <h2 class="title {% if block.settings.box_style == 'normal' %}{% unless block.settings.button != blank %} add-hr {% endunless %}{% endif %}">{{ block.settings.title | escape }}</h2>
        {% endunless %}

        {% assign product = all_products[block.settings.featured_product] %}
        {% assign current_variant = product.selected_or_first_available_variant %}
        {% assign compare_at_price = current_variant.compare_at_price %}
        {% assign price = current_variant.price %}

        {% if product == empty %}
          {% assign caption = block.settings.caption | escape %}
          {% capture priced %}
            <p class="price">{{ block.settings.price | escape }}</p>
          {% endcapture%}
        {% else %}
          {% assign caption = product.title %}
          {% capture priced %}
            <span class="price">

                {% if product == empty %}

                {% else %}
                  <div class="product-badge">Best Deal!</div>
                {% endif %}

              <span class="product-price">{{ price | money }}</span>
              {% if compare_at_price > price %}
                <span class="info compare-price">{{ compare_at_price | money }}</span>
              {% endif %}
            </span>
          {% endcapture %}
        {% endif %}

        <p class="caption">
          {{ caption }}
        </p>

        {% unless price == empty %}
          {{ priced }}
        {% endunless %}

        {% unless block.settings.metal == blank %}
          <p class="metal">{{ block.settings.metal | escape }}</p>
        {% endunless %}

        {% unless block.settings.price == blank %}
          <p class="price">{{ block.settings.price | escape }}</p>
          <!-- <p class="button-row">
            <span class="shop-now">Shop Now</span>
          </p> -->
        {% endunless %}

      </div>

      <div class="atc_button">
        {% unless block.settings.button == blank %}
          <a class="button with-icon {{ block.settings.bg_style }}" {% unless block.settings.link == blank %} href="{{ block.settings.link }}" {% endunless %}> {{ block.settings.button | escape }} <span class="icon" aria-hidden="true">{% include 'asset_svg' with 'arrow_icon_smallest' %}</span></a>
        {% endunless %}
      </div>

    </div>

  </div>

  {% if block.settings.video_src != blank %}

  <span class="site-box-background with-image" aria-hidden="true" {% unless block.settings.bg_color == blank %} style="background-color:{{ block.settings.bg_color }}"{% endunless %}>


    <div class="lp-player">
      <video-js id="vid-{{ block.id }}" preload="auto" playsinline muted autoplay playsinline loop width="100%" class="video-js" data-setup='{"aspectRatio": "1:1", "fluid": true}'>
        <source src="{{ settings.video_url }}{{ block.settings.video_src }}" type="video/mp4">
      </video-js>
    </div>


  </span>


  <span class="site-box-background with-image video-fallback" aria-hidden="true" {% unless block.settings.bg_color == blank %} style="background-color:{{ block.settings.bg_color }}"{% endunless %}>
      <img
        src="{{ block.settings.bg_img | img_url: '960x' }}" alt="{{ block.settings.title | escape }}"
        srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-srcset="{{ block.settings.bg_img | img_url: '600x' }} 480w, {{ block.settings.bg_img | img_url: '860x' }} 720w, {{ block.settings.bg_img | img_url: '1100x' }} 960w, {{ block.settings.bg_img | img_url: '1600x' }} 1440w, {{ block.settings.bg_img | img_url: '2100x' }} 1920w"
        data-sizes="auto"
        class="lazyload"
      />

      <noscript><span class="ll-fallback" style="background-image:url({{ block.settings.bg_img | img_url: '960x' }})"></span></noscript>
  </span>





  {% elsif block.settings.svg_src != blank %}
    {% capture icon_name %}
      {{ block.settings.svg_src }}
    {% endcapture %}

    {% capture is_long %}
      {%
        if block.settings.svg_src == 'diamond_shape_marquise-cut-diamonds'
        or block.settings.svg_src == 'diamond_shape_pear-shaped-diamonds'
        or block.settings.svg_src == 'diamond_shape_oval-diamonds'
      %}
        1
      {% endif %}
    {% endcapture %}

    <span class="site-box-background with-image" aria-hidden="true" {% unless block.settings.bg_color == blank %} style="background-color:{{ block.settings.bg_color }}"{% endunless %}>
      <div class="svg-box {% unless is_long == blank %}long{% endunless %}">{% include 'asset_svg' with block.settings.svg_src %}</div>
    </span>

  {% else %}

    <span class="site-box-background with-image" aria-hidden="true" {% unless block.settings.bg_color == blank %} style="background-color:{{ block.settings.bg_color }}"{% endunless %}>

      {% if product == empty %}

        {% if block.settings.bg_img == blank %}



        {% else %}

          <img
            src="{{ block.settings.bg_img | img_url: '960x' }}" alt="{{ block.settings.title | escape }}"
            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-srcset="{{ block.settings.bg_img | img_url: '600x' }} 480w, {{ block.settings.bg_img | img_url: '860x' }} 720w, {{ block.settings.bg_img | img_url: '1100x' }} 960w, {{ block.settings.bg_img | img_url: '1600x' }} 1440w, {{ block.settings.bg_img | img_url: '2100x' }} 1920w"
            data-sizes="auto"
            class="lazyload"
          />

          <noscript><span class="ll-fallback" style="background-image:url({{ block.settings.bg_img | img_url: '960x' }})"></span></noscript>


        {% endif %}

      {% else %}

      <img
        src="{{ product.featured_image | img_url: '960x' }}" alt="{{ product.title | escape }}"
        srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-srcset="{{ product.featured_image | img_url: '600x' }} 480w, {{ product.featured_image | img_url: '860x' }} 720w, {{ product.featured_image | img_url: '1100x' }} 960w, {{ product.featured_image | img_url: '1600x' }} 1440w, {{ product.featured_image | img_url: '2100x' }} 1920w"
        data-sizes="auto"
        class="lazyload"
      />

      <noscript><span class="ll-fallback" style="background-image:url({{ product.featured_image | img_url: '960x' }})"></span></noscript>

      {% endif %}

    </span>

  {% endif %}


</{% unless block.settings.button != blank %}a{% else %}div{% endunless %}>
