<!-- mobile menu drawer -->
<div id="mobile-menu">
	<div class="navigation-block">
		<div class="close-mobile-drawer">
			&#10007;
		</div>
		<ul class="parent-menu">
			{%- for link in linklists[section.settings.nwd_menu_id].links -%}

			{% for block in section.blocks %}

			{% assign megamenu_tile = block.settings.mega_menu_title | downcase %}
			{% assign mega_menu = false %}

			{% if link.handle == megamenu_tile %}
			{% assign mega_menu = true %}
			{% assign mege_menu_img = block.settings.mega_menu_image %}
			{% break %}
			{% endif %}
			{% endfor %}

			<li class="parent-menu-link">

				{% unless link.links != blank %}
				<a class="parent-menu-anchor {% if link.links != blank %} plus-minus-arrow {% endif %} {% if link.active %}active{% endif %}" href="{{ link.url }}" tabindex="0" title="{{ link.title }}" {% if link.active %}aria-current="page"{% endif %}>
					{{ link.title }}
				</a>
				{% endunless %}

				{% if link.links != blank %}
				<h4 class="parent-menu-anchor plus-minus-arrow">
					{{ link.title }}
				</h4>
				{% endif %}



				{% if mega_menu %}

				{%- if link.links != blank -%}
				<div class="sub-menu">
					<ul>
						{%- for child_link in link.links -%}
						<li>

							<h4 class="child-menu-anchor" >
								{{ child_link.title }}
							</h4>

							{%- if child_link.links != blank -%}
							<ul>
								{%- for grandchild_link in child_link.links -%}

								{%- assign grandchild_title = grandchild_link.title | split : '_' | first -%}
								{% assign foundImg_level_two = false %}
								{% if grandchild_link.title contains "hasimg_" %}
								{% assign foundImg_level_two = true %}
								{% endif %}

								{%- assign grandchildlink_img_name = grandchild_link.title | split : '_' | last -%}

								<li>

									<a class="{% if foundImg_level_two and grandchildlink_img_name and grandchildlink_img_name != blank %} menu-with-img{% endif %}" href="{{ grandchild_link.url }}">

										{%- if foundImg_level_two and grandchildlink_img_name and grandchildlink_img_name != blank -%}
										<span class="img img-{{grandchild_title | handleize }}">
											<img src="{{ grandchildlink_img_name | file_img_url : 'master' }}" alt="{{ grandchild_title | escape }}"  width="30px" />
										</span>
										{% endif %}

										<span>{{ grandchild_title }}</span>
									</a>
								</li>
								{%- endfor -%}
							</ul>
							{%- endif -%}

						</li>
						{%- endfor -%}
					</ul>
				</div>
				{%- endif -%}

				{% else %}

				{%- if link.links != blank -%}
				<div class="sub-menu">
					<ul>
						{%- for child_link in link.links -%}
						<li>
							<a href="{{ child_link.url }}" tabindex="0" title="{{ child_link.title }}">
								{{ child_link.title }}
							</a>
						</li>
						{%- endfor -%}
					</ul>
				</div>
				{% endif %}

				{% endif %}


			</li>

			{% assign mega_menu = false %}

			{%- endfor -%}
		</ul>

		<div class="account-btn">
			<a class="login-btn" href="{{ routes.account_login_url }}" tabindex="0" title="Login">
				login
			</a>
			<a class="sign-btn" href="{{ routes.account_register_url }}" tabindex="0" title="Sign up">
				Sign up
			</a>
		</div>
	</div>
	<div class="black-bg"></div>

</div>
