<div id="site-navigation" class="site-nav-container">

  <div class="site-nav-container-last">

    <a class="logotype-img" href="/" itemprop="url">
      <img src="{{ section.settings.logotype_src | img_url: 'master' }}" alt="{{ shop.name }}" style="max-height: {{ section.settings.logo_height | escape }}px;" />
    </a>

    <!-- <p class="title">{{ 'sidebar.menu' | t }}</p> -->

    <div class="top">

      <nav class="primary-menu">{% include 'header_nav-menu' with section.settings.menu_main_select %}</nav>

    </div>

    <div class="to-bottom-content">

      {% include 'header_footer-social' with 'regular' %}

      <div class="site-copyright">
        <p class="copy">{{ 'general.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} <a href="/">{{ shop.name }}</a></p>
        <p class="powered">Made with &#9825; in USA.</p>
      </div>

    </div>

  </div>

</div>
