{% if template contains 'article' %}

	{% capture share_link %}{{ shop.url }}{{ article.url }}{% endcapture %}
	{% capture share_title %}{{ article.title | url_param_escape }}{% endcapture %}
	{% capture share_img %}{{ article.image | img_url: '1024x1024' }}{% endcapture %}

{% elsif template contains 'product' %}

	{% capture share_link %}{{ shop.url }}{{ product.url }}{% endcapture %}
	{% capture share_title %}{{ product.title | url_param_escape }}{% endcapture %}
	{% capture share_img %}{{ product.featured_image | product_img_url: '1024x1024' }}{% endcapture %}

{% elsif template contains 'collection' %}

	{% capture share_link %}{{ shop.url }}{{ collection.url }}{% endcapture %}
	{% capture share_title %}{{ collection.title | url_param_escape }}{% endcapture %}

	{% if collection.image %}
		{% capture share_img %} {{ collection | img_url: '1024x1024' }} {% endcapture %}
	{% else %}
		{% capture share_img %} {{ collection.products.first | img_url: '1024x1024' }} {% endcapture %}
	{% endif %}

{% elsif template == 'password' %}

	{% capture share_link %}{{ shop.url }}{% endcapture %}
	{% capture share_title %}{% unless shop.metafields.global.description_tag == blank %}{{ shop.metafields.global.description_tag | url_param_escape }}{% else %}{{ shop.name | url_param_escape }}{% endunless %}{% endcapture %}
	{% assign share_img = '' %}

{% endif %}

<div class="site-sharing out-with-you {% if template contains 'article' and article.image %} white {% endif %}">
  <span class="icon" aria-hidden="true">{% include 'asset_svg' with 'share_icon' %}</span>
	<a href="//twitter.com/share?text={{ share_title }}&amp;url={{ share_link }}" target="_blank"><span class="twitter" aria-hidden="true">{% include 'asset_svg' with 'twitter_icon' %}</span></a>
	<a href="//www.facebook.com/sharer.php?u={{ share_link }}" target="_blank"><span class="facebook" aria-hidden="true">{% include 'asset_svg' with 'facebook_icon' %}</span></a> 
	<a href="//pinterest.com/pin/create/button/?url={{ share_link }}&amp;media={{ share_img }}&amp;description={{ share_title }}" target="_blank"><span class="pinterest" aria-hidden="true">{% include 'asset_svg' with 'social_pinterest' %}</span></a> 
</div>