<div id="section-{{ section.id }}" class="site-box-container container--fullscreen">

  <div id="block-{{ section.id }}" class="site-box box--small-fl lap--box--small-fl box__announcement box--typo-big box--center-align box--column-flow" data-order="0">

    {% unless section.settings.ann_link == blank %}
      <a href="{{ section.settings.ann_link }}">
    {% endunless %}

     <div class="site-box-content">

        <div class="content">

          <p class="title">{{ section.settings.ann_text | escape }}</p>
          <p class="subtitle is-center-aligned">{{ section.settings.ann_sub | escape }}</p>

          {% unless section.settings.ann_link == blank %}
            <div class="is-center-aligned">
              <p class="button with-icon" style="margin-top:0px;" href="{{ section.settings.ann_link }}">{{ section.settings.cta }} <span class="icon">{% include 'asset_svg' with 'arrow_icon_smallest' %}</span></p>
            </div>
          {% endunless %}

        </div>

      </div>

      {% unless section.settings.bg_img == blank %}

        <span class="site-box-background with-image" aria-hidden="true">

          {% if section.settings.bg_img == blank %}

            {% assign no = forloop.index | modulo:6 | plus:1 %}
            <span class="onboarding-svg">{{ 'collection-X' | replace: 'X', no | placeholder_svg_tag }}</span>

          {% else %}

            <img
              src="{{ section.settings.bg_img | img_url: '960x' }}" alt="{{ block.settings.title | escape }}"
              srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-srcset="{{ section.settings.bg_img | img_url: '600x' }} 480w, {{ section.settings.bg_img | img_url: '860x' }} 720w, {{ section.settings.bg_img | img_url: '1100x' }} 960w, {{ section.settings.bg_img | img_url: '1600x' }} 1440w, {{ section.settings.bg_img | img_url: '2100x' }} 1920w"
              data-sizes="auto"
              class="lazyload"
            />

            <noscript><span class="ll-fallback" style="background-image:url({{ section.settings.bg_img | img_url: '960x' }})"></span></noscript>

          {% endif %}

      </span>

    {% endunless %}

    {% unless section.settings.ann_link == blank %}
      </a>
    {% endunless %}

  </div>

</div>

<style type="text/css">

  #section-{{ section.id }}.site-box-container .site-box {
    background: {{ section.settings.slide_bg }};
  }

  #section-{{ section.id }}.site-box-container .site-box a,
  #section-{{ section.id }}.site-box-container .site-box .title {
    color: {{ section.settings.slide_text }};
  }

  #section-{{ section.id }}.site-box-container .site-box .subtitle {
    margin-top: 15px;
    line-height: 1;
    /* font-weight: 600 !important; */
  }

  #section-{{ section.id }}.site-box-container .site-box .button {
    margin-top: 0 !important;
  }

</style>

{% schema %}
  {
    "name": "Heading",
    "class": "index-section mount-content-row",
    "settings": [
      {
        "type": "color",
        "id": "slide_bg",
        "label": "Background",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "slide_text",
        "label": "Text",
        "default": "#252a2b"
      },
      {
        "type": "text",
        "id": "ann_text",
        "label": "Text",
        "default": "Inform your customers about important news, such as discounts or new offers."
      },
      {
        "type": "text",
        "id": "ann_sub",
        "label": "Subheading",
        "default": "Showcase your best copy"
      },
      {
        "type": "url",
        "id": "ann_link",
        "label": "Link"
      },
      {
        "type": "text",
        "id": "cta",
        "label": "Call to Action",
        "default": "Learn More"
      },
      {
        "type": "image_picker",
        "id": "bg_img",
        "label": "Background image"
      },
      {
        "type": "select",
        "id": "bg_style",
        "label": "Text color",
        "options": [
          {
            "value": "light",
            "label": "Dark"
          },
          {
            "value": "dark",
            "label": "Light"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Heading",
      "category": "Text"
    }]
  }
{% endschema %}
