<div id="section-{{ section.id }}" class="site-box-container container--fullscreen add-border has-text-centered">

  {% if section.settings.heading != blank %}

    <div class="site-box box--small-fl box__heading box--typo-big box--center-align box--column-flow box--add-hr is-header">
      <div class="site-box-content">
        <div class="content">
          <h2 class="title has-text-centered">{{ section.settings.heading | escape }}</h2>
        </div>
      </div>
    </div>

  {% endif %}

  {% for block in section.blocks %}

    {% include 'image_text-content' %}

  {% endfor %}

</div>

{% schema %}
  {
    "name": "Images with text",
    "class": "index-section mount-images",
    "max_blocks": 4,
    "settings": [
      {
        "type": "select",
        "id": "txt_align",
        "label": "Text alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "top",
            "label": "Top"
          }
        ],
        "default": "center"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "select",
        "id": "height",
        "label": "Height",
        "options": [
          {
            "value": "100",
            "label": "100%"
          },
          {
            "value": "50",
            "label": "50%"
          }
        ],
        "default": "100"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image with text",
        "settings": [
          {
            "type": "select",
            "id": "width",
            "label": "Width",
            "options": [
              {
                "value": "100",
                "label": "100%"
              },
              {
                "value": "50",
                "label": "50%"
              },
              {
                "value": "25",
                "label": "25%"
              }
            ]
          },
          {
            "type": "select",
            "id": "height",
            "label": "Height",
            "options": [
              {
                "value": "100",
                "label": "100%"
              },
              {
                "value": "50",
                "label": "50%"
              },
              {
                "value": "25",
                "label": "25%"
              }
            ]
          },
          {
            "type": "product",
            "id": "featured_product",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Image with text"
          },
          {
            "type": "text",
            "id": "caption",
            "label": "Text",
            "default": "Share your latest products, collections or promotions!"
          },
          {
            "type": "text",
            "id": "metal",
            "label": "Metal"
          },
          {
            "type": "text",
            "id": "price",
            "label": "Price"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "button",
            "label": "Button"
          },
          {
            "type": "select",
            "id": "bg_style",
            "label": "Text color",
            "options": [
              {
                "value": "light",
                "label": "Dark"
              },
              {
                "value": "dark",
                "label": "Light"
              },
              {
                "value": "red",
                "label": "Red"
              }
            ]
          },
          {
		        "type": "select",
		        "id": "txt_align",
		        "label": "Text alignment",
		        "options": [
		          {
		            "value": "left",
		            "label": "Left"
		          },
		          {
		            "value": "center",
		            "label": "Center"
		          },
		          {
		            "value": "right",
		            "label": "Right"
		          },
							{
								"value": "top-left",
								"label": "Top Left"
							},
							{
								"value": "bottom-left",
								"label": "Bottom Left"
							},
							{
								"value": "top-right",
								"label": "Top Right"
							},
							{
								"value": "bottom-right",
								"label": "bottom-right"
							}
		        ],
		        "default": "center"
		      },
          {
            "type": "image_picker",
            "id": "bg_img",
            "label": "Background image"
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color"
          },
          {
            "type": "text",
            "id": "video_src",
            "label": "Video Source"
          },
          {
            "type": "text",
            "id": "svg_src",
            "label": "SVG Source"
          },
          {
             "type":      "select",
             "id":        "box_style",
             "label":     "Box Style",
             "options": [
               {
                 "value": "normal",
                 "label": "Normal"
               },
               {
                 "value": "banner",
                 "label": "Banner"
               }
             ],
             "default":   "normal"
          },
          {
            "type": "text",
            "id": "classes",
            "label": "Added Class"
          },
          {
            "type": "text",
            "id": "badge_text",
            "label": "Badge Text"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Images with text overlay",
      "category": "Image",
      "blocks": [{
        "type": "image"
      }]
    }]
  }
{% endschema %}
