<!-- nwd-image-with-text -->

<div class="nwd-our-services">
  <div class="container">
    <div class="nwd-our-services-wrapper">
      <div class="row">
        {% for block in section.blocks %}
        <div class="col-md-4 col-sm-3 col-xs-6 nwd-our-services-wrap">
          <div class="flex_view middle">
            {% unless block.settings.image == blank  %}
            <div class="img">
              <img
              src="{{ block.settings.image | img_url: '960x' }}" alt="{{ block.settings.image.alt | escape }}"
              srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              data-srcset="{{ block.settings.image | img_url: '600x' }} 480w, {{ block.settings.image | img_url: '900x' }} 720w, {{ block.settings.image | img_url: '1100x' }} 960w, {{ block.settings.image | img_url: '1600x' }} 1440w, {{ block.settings.image | img_url: '2100x' }} 1920w"
              data-sizes="auto"
              class="lazyload"
              />
{% comment %}              <img src="{{ block.settings.image | img_url : 'master' }}" alt="{{ block.settings.image.alt }}" />{% endcomment %}
            </div>
            {% endunless %}

            <div class="info">
              {% unless block.settings.heading == blank %}
              <h4 class="heading">
                {{ block.settings.heading }}
              </h4>
              {% endunless %}

              {% unless block.settings.sub_heading == blank %}
              <p class="sub-heading">
                {{ block.settings.sub_heading }}
              </p>
              {% endunless %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "NWD Our services",
  "settings": [
  ],
  "blocks":[
  {
    "type":"text",
    "name":"our services",
    "settings":[
    {
      "type": "image_picker",
      "id": "image",
      "label": "image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Sub heading"
    }
    ]
  }
  ],
  "presets": [
  {
    "name": "NWD Our services",
    "category": "Image"
  }
  ]
}
{% endschema %}
