<!-- nwd-build-your-ring -->
<div class="Affirm-img-with-text">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="img">
          <img
          src="{{ section.settings.image | img_url: '960x' }}" alt="{{ section.settings.image.alt | escape }}"
          srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-srcset="{{ section.settings.image | img_url: '600x' }} 480w, {{ section.settings.image | img_url: '900x' }} 720w, {{ section.settings.image | img_url: '1100x' }} 960w, {{ section.settings.image | img_url: '1600x' }} 1440w, {{ section.settings.image | img_url: '2100x' }} 1920w"
          data-sizes="auto"
          class="lazyload"
          />
          {% comment %}<img src="{{ section.settings.image | img_url : 'master'}}" alt="{{ section.settings.image.alt }}">{% endcomment %}
        </div>
      </div>
      <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="content-wrapper">
          <h3>{{ section.settings.title }}</h3>
          <p>{{ section.settings.sub_title }}</p>
          <a class="button button-one" href="{{ section.settings.button_link}}" tabindex="0" title="{{ section.settings.button_text }}">
            {{ section.settings.button_text }}
          </a>
        </div>
      </div>
    </div>
  </div>  
</div>

{% schema %}
{
  "name": "NWD Affirm img with text",
  "settings": [
  {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
  },
  {
    "type": "text",
    "id": "title",
    "label": "Title",
    "default":"Make Monthly payment with no hidden fees"
  },
  {
    "type": "text",
    "id": "sub_title",
    "label": "Sub title",
    "default":"Great real time decision"
  },
  {
    "type": "text",
    "id": "button_text",
    "label": "Button text",
    "default":"Learn more"
  },
  {
    "type": "url",
    "label": "Button link",
    "id": "button_link",
    "default":"/"
  }  
  ],
  "presets": [
  {
    "name": "NWD Affirm img with text",
    "category": "Image with text"
  }
  ]
}
{% endschema %}
