<!-- NWd header -->
<div class="container">
	<div id="nwd-site-header">
		<div class="nwd-header desk-header">
			<div class="left-side">
				<a href="{{ routes.root_url }}" tabindex="0" title="{{ shop.name }}">
					<div class="logo">
						{% if section.settings.logo_img != blank %}
						<div class="img">
							<img src="{{ section.settings.logo_img | img_url : 'master' }}" alt="{{ section.settings.logo_img.alt }}" />
						</div>
						{% else %}
						<h1>{{ shop.name }}</h1>
						{% endif %}
					</div>
				</a>
			</div>
			<div class="desktop-menu">
				<nav class="navbar-desktop" role="navigation">
					<ul class="parent-menu">
						{%- for link in linklists[section.settings.nwd_menu_id].links -%}

						{% for block in section.blocks %}

						{% assign megamenu_tile = block.settings.mega_menu_title | downcase %}
						{% assign mega_menu = false %}

						{% if link.handle == megamenu_tile %}
						{% assign mega_menu = true %}
						{% assign mege_menu_img = block.settings.mega_menu_image %}
						{% break %}
						{% endif %}
						{% endfor %}

						<li class="parent-menu-link {% if mega_menu == false  %} no_mega_menu {% endif %}">

							<a class="parent-menu-anchor {% if link.active %}active{% endif %}" href="{{ link.url }}" tabindex="0" {% if link.active %}aria-current="page"{% endif %}>
								{{ link.title }}
							</a>

							{% if mega_menu %}

							{%- if link.links != blank -%}
							<div class="mega-menu flex_view">
								<ul class="child-menu-ul flex_view">
									{%- for child_link in link.links -%}
									<li class="child-menu-link">

										<h4 class="chiild-menu-anchor" >
											{{ child_link.title }}
										</h4>

										{%- if child_link.links != blank -%}
										<ul class="mega-menu-ul">
											{%- for grandchild_link in child_link.links -%}

											{%- assign grandchild_title = grandchild_link.title | split : '_' | first -%}
											{% assign foundImg_level_two = false %}
											{% if grandchild_link.title contains "hasimg_" %}
											{% assign foundImg_level_two = true %}
											{% endif %}

											{%- assign grandchildlink_img_name = grandchild_link.title | split : '_' | last -%}

											<li class="mega-menu-li">

												<a class="mega-menu-anchor flex_view_xs middle {% if foundImg_level_two and grandchildlink_img_name and grandchildlink_img_name != blank %} menu-with-img{% endif %}" href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>

													{%- if foundImg_level_two and grandchildlink_img_name and grandchildlink_img_name != blank -%}
													<span class="img img-{{grandchild_title | handleize }}">
														<img src="{{ grandchildlink_img_name | file_img_url : 'master' }}" alt="{{ grandchild_title | escape }}" />
													</span>
													{% endif %}

													<span>{{ grandchild_title }}</span>
												</a>
											</li>
											{%- endfor -%}
										</ul>
										{%- endif -%}

									</li>
									{%- endfor -%}
								</ul>

								<div class="mega_menu_img">
									<img src="{{ mege_menu_img | img_url : 'master' }}" alt="{{ mege_menu_img.alt }}" />
								</div>
							</div>
							{%- endif -%}

							{% else %}

							{%- if link.links != blank -%}
							<div class="drop-menu">
								<ul class="drop-menu-ul">
									{%- for child_link in link.links -%}
									<li class="drop-menu-link">
										<a class="drop-menu-anchor" href="{{ child_link.url }}" tabindex="0" {% if child_link.active %}aria-current="page"{% endif %}>
											{{ child_link.title }}
										</a>
									</li>
									{%- endfor -%}
								</ul>
							</div>
							{% endif %}

							{% endif %}


						</li>

						{% assign mega_menu = false %}
						
						{%- endfor -%}
					</ul>
				</nav>
			</div>
			<div class="header-icon">
				<ul>
                  <li id="site-search-handle" class="site-search-handle" aria-label="{{ 'general.navigation.open_search' | t }}" title="{{ 'general.navigation.open_search' | t }}">
                    <a href="/search">
                      <span class="search-menu" aria-hidden="true">
                        {% include 'asset_svg' with 'search_icon' %}
                      </span>
                    </a>
                  </li>
					{% comment %}
                  	<li>
						<a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" tabindex="0" title="">
							{% include 'nwd-user-icon' %}
						</a>
					</li>
					<li>
						<a href="/" tabindex="0" title="Wishlist icon">
							{% include 'nwd-wishlist' %}
						</a>
					</li>
                  	{% endcomment %}
					<li id="site-cart-handle" class="site-cart-handle {{ settings.cart_action }}" aria-label="{{ 'general.navigation.open_cart' | t }}" title="{{ 'general.navigation.open_cart' | t }}">
						<a href="{{ routes.cart_url }}" tabindex="0" title="Cart">
                          {% comment %}{% include 'nwd-cart-icon' %}{% endcomment %}
                          <span class="cart-menu" aria-hidden="true">
                            {% include 'asset_svg' with 'cart_icon' %}
                            <span class="count-holder"><span class="count">{{ cart.item_count }}</span></span>
                          </span>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="nwd-header mobile-header flex_view_xs middle">
			<div class="navbar-icon">
				<div class="img">
					<img src="{{ 'nwd-menu.png' | file_img_url: 'master' }}" alt="navbar icon">
				</div>
			</div>
			<div class="navbar-logo-mobile">
              <a href="{{ routes.root_url }}" tabindex="0" title="{{ shop.name }}">
                {% if section.settings.logo_img != blank %}
                <div class="img">
                  <img src="{{ section.settings.logo_img | img_url : 'master' }}" alt="{{ section.settings.logo_img.alt }}" />
                </div>
                {% else %}
                <h1>{{ shop.name }}</h1>
                {% endif %}
              </a>
			</div>
			<div class="navbar-right-icon">
				<ul>
                  <li id="site-search-handle" class="site-search-handle" aria-label="{{ 'general.navigation.open_search' | t }}" title="{{ 'general.navigation.open_search' | t }}">
                    <a href="/search">
                      <span class="search-menu" aria-hidden="true">
                        {% include 'asset_svg' with 'search_icon' %}
                      </span>
                    </a>
                  </li>
                  <li id="site-cart-handle" class="site-cart-handle {{ settings.cart_action }}" aria-label="{{ 'general.navigation.open_cart' | t }}" title="{{ 'general.navigation.open_cart' | t }}">
                    <a href="{{ routes.cart_url }}" tabindex="0" title="Cart">
                      {% comment %}{% include 'nwd-cart-icon' %}{% endcomment %}
                      <span class="cart-menu" aria-hidden="true">
                        {% include 'asset_svg' with 'cart_icon' %}
                        <span class="count-holder"><span class="count">{{ cart.item_count }}</span></span>
                      </span>
                    </a>
                  </li>
                  {% comment %}
					<li>
						<a href="/" tabindex="0" title="Wishlist icon">
							{% include 'nwd-wishlist' %}
						</a>
					</li>
                  {% endcomment %}
				</ul>
			</div>
		</div>
	</div>
	<div class="mobile-menu-drawer">
		{% include 'mobile-menu-drawer-block' %}
	</div>
  	<div id="site-nav--mobile" class="site-nav style--sidebar">
		{% include 'sidebar_content-search' %}
        <button id="site-close-handle" class="site-close-handle" aria-label="{{ 'general.navigation.close_sidebar' | t }}" title="{{ 'general.navigation.close_sidebar' | t }}">
          <span class="hamburger-menu active" aria-hidden="true"><span class="bar animate"></span></span>
        </button>
	</div>
  	
</div>

<!-- <script>
  $(".open-search-modal").click(function(){
    $("body").css("overflow","hidden");
    $(".sidebar-search-drawer").addClass("active");
    $("#site-overlay").addClass("active");
  });
  
  $(".sidebar-search-drawer .site-close-handle").click(function(){
    $(".sidebar-search-drawer").removeClass("active");
    $("#site-overlay").removeClass("active");
    $("body").css("overflow","auto").removeClass("sidebar-move");
  });
</script> -->

{% schema %}
{
	"name": "Nwd Header",
	"settings": [
	{
		"type": "image_picker",
		"id": "logo_img",
		"label": "Logo"
	},
	{
		"type": "header",
		"content": "Menu"
	},
	{
		"type": "link_list",
		"id": "nwd_menu_id",
		"label": "Header Menu"
	}
	],
	"blocks":[
	{
		"type":"mega-menu",
		"name":"Mega menu",
		"settings":[
		{
			"type": "text",
			"id": "mega_menu_title",
			"label": "Enter mega menu title"
		},
		{
			"type": "image_picker",
			"id": "mega_menu_image",
			"label": "Mega menu image"
		}
		]
	}
	]
}
{% endschema %}
