<!-- nwd-hp-collection-list -->
<div class="container">
  <div class="row nwd-hp-collection-list">
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="collection-list-one">
        <div class="img">
          <a href="{{ section.settings.collection_link }}" tabindex="0" title="{{ section.settings.collection_title }}">
            <img
            src="{{ section.settings.collection_img | img_url: '960x' }}" alt="{{ section.settings.collection_img.alt | escape }}"
            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-srcset="{{ section.settings.collection_img | img_url: '600x' }} 480w, {{ section.settings.collection_img | img_url: '900x' }} 720w, {{ section.settings.collection_img | img_url: '1100x' }} 960w, {{ section.settings.collection_img | img_url: '1600x' }} 1440w, {{ section.settings.collection_img | img_url: '2100x' }} 1920w"
            data-sizes="auto"
            class="lazyload"
            />
          </a>
        </div>
        <div class="collection-content">
          <a href="{{ section.settings.collection_link }}" tabindex="0" title="{{ section.settings.collection_title }}">
            <h3 class="banner-heading">
              {{ section.settings.collection_title }}
            </h3>
            <p class="banner-text"> 
              {{ section.settings.collection_text }}
            </p>
            <label>
              &nbsp;
            </label>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="collection-list-two">
        <div class="img">
          <a href="{{ section.settings.collection_link_two }}" tabindex="0" title="{{ section.settings.collection_title_two }}">
            <img
            src="{{ section.settings.collection_img_two | img_url: '960x' }}" alt="{{ section.settings.collection_img_two.alt | escape }}"
            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-srcset="{{ section.settings.collection_img_two | img_url: '600x' }} 480w, {{ section.settings.collection_img_two | img_url: '900x' }} 720w, {{ section.settings.collection_img_two | img_url: '1100x' }} 960w, {{ section.settings.collection_img_two | img_url: '1600x' }} 1440w, {{ section.settings.collection_img_two | img_url: '2100x' }} 1920w"
            data-sizes="auto"
            class="lazyload"
            />
          </a>
        </div>
        <div class="collection-content">
          <a href="{{ section.settings.collection_link_two }}" tabindex="0" title="{{ section.settings.collection_title_two }}">
            <p class="banner-text"> 
              {{ section.settings.collection_text_two }}
            </p>
            <h3 class="banner-heading">
              {{ section.settings.collection_title_two }}
            </h3>
            <label>
              &nbsp;
            </label>
          </a>
        </div>
      </div>
      <div class="collection-list-three">
        <div class="img">
          <a href="{{ section.settings.collection_link_three }}" tabindex="0" title="{{ section.settings.collection_title_three }}">
            <img
            src="{{ section.settings.collection_img_three | img_url: '960x' }}" alt="{{ section.settings.collection_img_three.alt | escape }}"
            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-srcset="{{ section.settings.collection_img_three | img_url: '600x' }} 480w, {{ section.settings.collection_img_three | img_url: '900x' }} 720w, {{ section.settings.collection_img_three | img_url: '1100x' }} 960w, {{ section.settings.collection_img_three | img_url: '1600x' }} 1440w, {{ section.settings.collection_img_three | img_url: '2100x' }} 1920w"
            data-sizes="auto"
            class="lazyload"
            />
          </a>
        </div>
        <div class="collection-content">
          <a href="{{ section.settings.collection_link_three }}" tabindex="0" title="{{ section.settings.collection_title_three }}">
            <p class="banner-text"> 
              {{ section.settings.collection_text_three }}
            </p>
            <h3 class="banner-heading">
              {{ section.settings.collection_title_three }}
            </h3>
            <label>
              &nbsp;
            </label>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <div class="collection-list-four">
        <div class="img">
          <a href="{{ section.settings.collection_link_four }}" tabindex="0" title="{{ section.settings.collection_title_four }}">
            <img
            src="{{ section.settings.collection_img_four | img_url: '960x' }}" alt="{{ section.settings.collection_img_four.alt | escape }}"
            srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-srcset="{{ section.settings.collection_img_four | img_url: '600x' }} 480w, {{ section.settings.collection_img_four | img_url: '900x' }} 720w, {{ section.settings.collection_img_four | img_url: '1100x' }} 960w, {{ section.settings.collection_img_four | img_url: '1600x' }} 1440w, {{ section.settings.collection_img_four | img_url: '2100x' }} 1920w"
            data-sizes="auto"
            class="lazyload"
            />
          </a>
        </div>
        <div class="collection-content" style="position: absolute; bottom: 62%; left: 10%;">
          <a href="{{ section.settings.collection_link_four }}" tabindex="0" title="{{ section.settings.collection_title_four }}">
            <h3 class="banner-heading">
              {{ section.settings.collection_title_four }}
            </h3>
            <p class="banner-text"> 
              {{ section.settings.collection_text_four }}
            </p>
            <label>
              &nbsp;
            </label>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "NWD Collection list",
  "settings": [
  {
    "type": "image_picker",
    "id": "collection_img",
    "label": "Collection img"
  },
  {
    "type": "text",
    "id": "collection_title",
    "label": "Collection title",
    "default":"Bridal"
  },
  {
    "type": "text",
    "id": "collection_text",
    "label": "Collection text",
    "default":"collection"
  },
  {
    "type": "url",
    "label": "Collection url",
    "id": "collection_link",
    "default":"/"
  },
  {
    "type": "image_picker",
    "id": "collection_img_two",
    "label": "Collection img two"
  },
  {
    "type": "text",
    "id": "collection_title_two",
    "label": "Collection title two",
    "default":"Ring"
  },
  {
    "type": "text",
    "id": "collection_text_two",
    "label": "Collection text two",
    "default":"collection"
  },
  {
    "type": "url",
    "label": "Collection url two",
    "id": "collection_link_two",
    "default":"/"
  },
  {
    "type": "image_picker",
    "id": "collection_img_three",
    "label": "Collection img"
  },
  {
    "type": "text",
    "id": "collection_title_three",
    "label": "Collection title three",
    "default":"Earring"
  },
  {
    "type": "text",
    "id": "collection_text_three",
    "label": "Collection text three",
    "default":"collection"
  },
  {
    "type": "url",
    "label": "Collection url three",
    "id": "collection_link_three",
    "default":"/"
  },
  {
    "type": "image_picker",
    "id": "collection_img_four",
    "label": "Collection img four"
  },
  {
    "type": "text",
    "id": "collection_title_four",
    "label": "Collection title four",
    "default":"Men"
  },
  {
    "type": "text",
    "id": "collection_text_four",
    "label": "Collection text four",
    "default":"collection"
  },
  {
    "type": "url",
    "id": "collection_link_four",
    "label": "Collection url four",
    "default":"/"
  }
  ],
  "presets": [
  {
    "name": "NWD Collection list",
    "category": "NWD Collection list"
  }
  ]
}
{% endschema %}
