<!-- NWD engagement ring collection -->
{% comment %}NWD engagement ring collection {% endcomment %}
<style>
  .nwd-collection-list-wrapper .button{
    color: {{ section.settings.button_text_color }};
    background: {{ section.settings.button_bg_color }};
    min-width: 200px;
  }
  .nwd-collection-list-wrapper .button:hover{
    color: {{ section.settings.button_bg_color }};
    background: {{ section.settings.button_text_color }};
  }
</style>	

<div class="nwd-collection-list-wrapper">
  <div class="container">
    <div class="collection-header-wrapper">
      {% unless section.settings.title == blank %}
      <h1 class="collection-title">
        {{ section.settings.title }}
      </h1>
      {% endunless %}

      {% unless section.settings.content == blank %}
      <p class="collection-desc">
        {{ section.settings.content }}
      </p>
      {% endunless %}
    </div>
  </div>
  <div class="collection-body-wrapper">
    {% for block in section.blocks %}
    <div class="collection-wrapper">
      <div class="collection-title-and-sub-desc">
        <h3>{{ block.settings.collection_title }}</h3>
        <p>{{ block.settings.collection_description }}</p>
      </div>	
      <div class="collection-content-wrapper flex_view {% if block.settings.reverse %}reverse{% endif %}">
        <div class="collection-left-side-wrapper" style="background-image:url({{ block.settings.collection_imgage | img_url :'master' }})">
          <div class="img mobile-image">
            <img src="{{ block.settings.collection_imgage | img_url: '960x' }}" alt="{{ block.settings.collection_imgage.alt | escape }}"
                 srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="{{ block.settings.collection_imgage | img_url: '600x' }} 480w, {{ block.settings.collection_imgage | img_url: '860x' }} 720w, {{ block.settings.collection_imgage | img_url: '1100x' }} 960w, {{ block.settings.collection_imgage | img_url: '1600x' }} 1440w, {{ block.settings.collection_imgage | img_url: '2100x' }} 1920w"
                 data-sizes="auto" class="lazyload"/>
          </div>
          <div class="collection-sub-content-wraper">
            <p>{{ block.settings.collection_content }}</p>
            <a class="button" href="{{ block.settings.button_link }}" tabindex="0" title="{{ block.settings.button_title }}">
              {{ block.settings.button_title }}
            </a>
          </div>
        </div>
        <div class="collection-right-side-wrapper">
          {% for product in collections[block.settings.select_collection].products limit:4 %}
          <div class="product-wrap">
            <div class="product-img">
              <a href="{{ product.url }}" tabindex="0" title="{{ product.title }}">
                <div class="img flex_view middle">
                  <img
                       src="{{ product.featured_image | img_url: '960x' }}" alt="{{ product.title | escape }}"
                       srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                       data-srcset="{{ product.featured_image | img_url: '600x' }} 480w, {{ product.featured_image | img_url: '860x' }} 720w, {{ product.featured_image | img_url: '1100x' }} 960w, {{ product.featured_image | img_url: '1440x' }} 1600w, {{ product.featured_image | img_url: '2100x' }} 1920w"
                       data-sizes="auto"
                       class="lazyload"
                       />
                </div>
                <div class="cart-icon">
                  <img
                       src="https://cdn.shopify.com/s/files/1/0057/0736/6467/files/nwd-cart-icon.svg?v=1590776129" alt="Cart icon"
                       data-sizes="auto"
                       class="lazyload"
                       />
                </div>
              </a>
            </div>
            <div class="product-info">
              <div class="product-price">
                <span class="product-regular-price"> <b>${{ product.price }}</b></span>
                <span class="product-compare-price"><del>{{ product.compare_at_price }}</del></span>
              </div>
              <h3 class="produ-title">{{ product.title }}</h3>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



{% schema %}
{
"name": "NWD Collection List",
"settings": [
{
"type": "text",
"id": "title",
"label": "page Title",
"default":"Engagement Ring Collections"
},
{
"type": "text",
"id": "content",
"label": "page content",
"default":"Lorem Ipsum is simply dummy text of the printing and typesettngs industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery of type and scrambled it to make a type specimen book."
},
{
"type": "color",
"id": "button_text_color",
"label": "Button text color"
},
{
"type": "color",
"id": "button_bg_color",
"label": "Button bg color"
}
],
"blocks":[
{
"type":"nwd-collection-block",
"name":"nwd collection block",
"settings":[
{
"type": "checkbox",
"id": "reverse",
"label": "Reverse"
},
{
"type": "text",
"id": "collection_title",
"label": "Collection title"
},
{
"type": "text",
"id": "collection_description",
"label": "Collection description"
},
{
"type": "image_picker",
"id": "collection_imgage",
"label": "Collection image"
},
{
"type": "text",
"id": "collection_content",
"label": "Collection content"
},
{
"type": "text",
"id": "button_title",
"label": "Button title"
},
{
"type": "url",
"id": "button_link",
"label": "Button link"
},
{
"type": "collection",
"id": "select_collection",
"label": "Select collection"
}
]
}
]
}
{% endschema %}