<!-- nwd-build-your-ring -->
<div class="build-your-ring">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 sm--show">
        <div class="img">
          <img
          src="{{ section.settings.image | img_url: '960x' }}" alt="{{ section.settings.image.alt | escape }}"
          srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-srcset="{{ section.settings.image | img_url: '600x' }} 480w, {{ section.settings.image | img_url: '900x' }} 720w, {{ section.settings.image | img_url: '1100x' }} 960w, {{ section.settings.image | img_url: '1600x' }} 1440w, {{ section.settings.image | img_url: '2100x' }} 1920w"
          data-sizes="auto"
          class="lazyload"
          />
          {% comment %}<img src="{{ section.settings.image | img_url : 'master'}}" alt="{{ section.settings.image.alt }}">{% endcomment %}
        </div>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12">
        <div class="content-wrapper">
          <h3>{{ section.settings.title }}</h3>
          <p>{{ section.settings.content }}</p>
          <div class="button-wrapper">
            <a class="button button-one" href="{{ section.settings.button_link_one }}" tabindex="0" title="{{ section.settings.button_one }}">
              {{ section.settings.button_one }}
            </a>
            <span>OR</span>
            <a class="button button-two" href="{{ section.settings.button_link_two }}" tabindex="0" title="{{ section.settings.button_two }}">
              {{ section.settings.button_two }}
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-5 col-xs-12 sm--hide">
        <div class="img">
          <img
          src="{{ section.settings.image | img_url: '960x' }}" alt="{{ section.settings.image.alt | escape }}"
          srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-srcset="{{ section.settings.image | img_url: '600x' }} 480w, {{ section.settings.image | img_url: '900x' }} 720w, {{ section.settings.image | img_url: '1100x' }} 960w, {{ section.settings.image | img_url: '1600x' }} 1440w, {{ section.settings.image | img_url: '2100x' }} 1920w"
          data-sizes="auto"
          class="lazyload"
          />
          {% comment %}<img src="{{ section.settings.image | img_url : 'master'}}" alt="{{ section.settings.image.alt }}">{% endcomment %}
        </div>
      </div>
    </div>
  </div>  
</div>

{% schema %}
{
  "name": "NWD Build your ring",
  "settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Title",
    "default":"Build your own Ring"
  },
  {
    "type": "text",
    "id": "content",
    "label": "Content",
    "default":"Celebrate your unique love story with a custom engagement ring that perfectly suits the person you love."
  },
  {
    "type" : "header",
    "content" : "Button one"
  },
  {
    "type": "text",
    "id": "button_one",
    "label": "Button one",
    "default":"Start with a setting"
  },
  {
    "type": "url",
    "label": "Button one url",
    "id": "button_link_one",
    "default":"/"
  },
  {
    "type" : "header",
    "content" : "Button two"
  },
  {
    "type": "text",
    "id": "button_two",
    "label": "Button two",
    "default":"Start with a diamond"
  },
  {
    "type": "url",
    "label": "Button two url",
    "id": "button_link_two",
    "default":"/"
  },
  {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
  }
  ],
  "presets": [
  {
    "name": "NWD Build your ring",
    "category": "Image with text"
  }
  ]
}
{% endschema %}
