{% assign per_page = section.settings.home_collection_no | times: 1 %}

{% assign product_count = collections[section.settings.home_collection_select].products_count | times: 1 %}

<div class="nwd-featured-collection">
  <div id="section-{{ section.id }}" class="container per-{{ per_page }}">

    <div class="featured-collection-heading text-center">
      <p class="title">{{ section.settings.title | escape }}</p>
      <div class="sub-title">
        {{ section.settings.sub_text }}
      </div>
    </div>

    <div class="featured_collection_product">
      <div class="container">
        <div class="row">
          {% for product in collections[section.settings.home_collection_select].products limit:per_page %}
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="product-wrap">
              <div class="product-img">
                <a href="{{ product.url }}" tabindex="0" title="{{ product.title }}">
                  <div class="img flex_view middle">
                    <img
                    src="{{ product.featured_image | img_url: '960x' }}" alt="{{ product.title | escape }}"
                    srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-srcset="{{ product.featured_image | img_url: '600x' }} 480w, {{ product.featured_image | img_url: '860x' }} 720w, {{ product.featured_image | img_url: '1100x' }} 960w, {{ product.featured_image | img_url: '1440x' }} 1600w, {{ product.featured_image | img_url: '2100x' }} 1920w"
                    data-sizes="auto"
                    class="lazyload"
                    />
                  </div>
                  <div class="cart-icon">
                    <img
                    src="https://cdn.shopify.com/s/files/1/0057/0736/6467/files/nwd-cart-icon.svg?v=1590776129" alt="Cart icon"
                    data-sizes="auto"
                    class="lazyload"
                    />
                  </div>
                </a>
              </div>
              <div class="product-info">
                <div class="product-price">
                  <span class="product-regular-price"> <b>{{ product.price | money }}</b></span>
                  <span class="product-compare-price"><del>{{ product.compare_at_price | money}}</del></span>
                </div>
                <h3 class="produ-title">{{ product.title }}</h3>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "NWD Featured collection",
  "settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Heading",
    "default": "Featured collection"
  },
  {
    "type": "collection",
    "id": "home_collection_select",
    "label": "Collection"
  },
  {
    "type": "richtext",
    "id": "sub_text",
    "label": "sub_text"
  },
  {
    "type": "select",
    "id": "bg_style",
    "label": "Text color",
    "options": [
    {
      "value": "light",
      "label": "Dark"
    },
    {
      "value": "dark",
      "label": "Light"
    }
    ]
  },
  {
    "type": "select",
    "id": "home_collection_no",
    "label": "Number of products",
    "options": [
    {
      "value": "4",
      "label": "4"
    },
    {
      "value": "6",
      "label": "6"
    },
    {
      "value": "10",
      "label": "10"
    },
    {
      "value": "14",
      "label": "14"
    }
    ]
  }
  ],
  "presets": [{
  "name": "NWD Featured collection",
  "category": "Collection"
}]
}
{% endschema %}
