<div class="nwd-hero-banner">
  <div class="banner-wrapper">
    <div class="img">
      <div class="desk-img">
        <a class="banner-btn" href="{{ section.settings.btn_url }}" title="{{ section.settings.btn_text }}">
        <img
        src="{{ section.settings.desktop_img | img_url: '960x' }}" alt="{{ section.settings.desktop_img.alt | escape }}"
        srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-srcset="{{ section.settings.desktop_img | img_url: '600x' }} 480w, {{ section.settings.desktop_img | img_url: '900x' }} 720w, {{ section.settings.desktop_img | img_url: '1100x' }} 960w, {{ section.settings.desktop_img | img_url: '1600x' }} 1440w, {{ section.settings.desktop_img | img_url: '2100x' }} 1920w"
        data-sizes="auto"
        class="lazyload"
        />
      </a>
      </div>
      <div class="mobile-img">
        <a class="banner-btn" href="{{ section.settings.btn_url }}" title="{{ section.settings.btn_text }}">
        <img
        src="{{ section.settings.mobile_img | img_url: '960x' }}" alt="{{ section.settings.mobile_img.alt | escape }}"
        srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-srcset="{{ section.settings.mobile_img | img_url: '600x' }} 480w, {{ section.settings.mobile_img | img_url: '900x' }} 720w, {{ section.settings.mobile_img | img_url: '1100x' }} 960w, {{ section.settings.mobile_img | img_url: '1600x' }} 1440w, {{ section.settings.mobile_img | img_url: '2100x' }} 1920w"
        data-sizes="auto"
        class="lazyload"
        />
      </a>
      </div>
    </div>
    <div class="banner-content">
      <div class="banner-content-wrap" style="">
        <h3 class="banner-heading">
          {{ section.settings.banner_heading }}
        </h3>
        <p class="banner-text"> 
          {{ section.settings.banner_content }}
        </p>
        <a class="banner-btn" href="{{ section.settings.btn_url }}" title="{{ section.settings.btn_text }}">
          {{ section.settings.btn_text }}
        </a>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Full banner image",
  "settings": [
  {
    "type": "image_picker",
    "id": "desktop_img",
    "label": "Desktop img"
  },
  {
    "type": "image_picker",
    "id": "mobile_img",
    "label": "Mobile img"
  },
  {
    "type": "text",
    "id": "banner_heading",
    "label": "Banner heading",
    "default":"Dummy Text of The Printing"
  },
  {
    "type": "text",
    "id": "banner_content",
    "label": "Banner content",
    "default":"Lorem Ipsum is simply dummy text of the printing and printing typesettingindustry. Lorem Ipsum is simply dummy"
  },
  {
    "type": "text",
    "label": "Button text",
    "id": "btn_text",
    "default":"shop now"
  },
  {
    "type": "url",
    "label": "Button URL",
    "id": "btn_url",
    "default":"/"
  }
  ],
  "presets": [
  {
    "name": "Full banner image",
    "category": "Banner"
  }
  ]
}
{% endschema %}
