<!-- nwd-hp-collection-list -->
<div class="nwd-instagram-img-with-link">
  <div class="container">
    <div class="flex_view middle space">
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="insta-content">
          <div class="title">{{ section.settings.title }}</div>
          <p>{{ section.settings.sub_title }}</p>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <div class="instagram-images row">
          {% for block in section.blocks %}
            <a class="col-md-3 col-sm-3 col-xs-12" href="{{ block.settings.insta_link }}" tabindex="0" title="{{ block.settings.image.alt }}">
              <div class="img">
                <img src="{{ block.settings.image | img_url : 'master' }}" alt="{{ block.settings.image.alt }}">
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "NWD Instagram image",
  "settings": [
  {
    "type": "richtext",
    "id": "title",
    "label": "title"
  },
  {
    "type": "text",
    "id": "sub_title",
    "label": "Sub title",
    "default": "Follow us on instagram"
  }
  ],
  "blocks":[
  {
    "type":"insta-image",
    "name":"Insta image",
    "settings":[
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "insta_link",
      "label": "insta link"
    }
    ]
  }
  ],
  "presets": [
  {
    "name": "Instagram images and linking",
    "category": "Image-wih-text"
  }
  ]
}
{% endschema %}
