<section class="nwd-newsletter-footer" style="">
  <div class="container">
    <div class="flex_view middle">
      <div class="nwd-newsletter-logo">
        <img src="{{ section.settings.newsletter_logo | img_url : 'master' }}" alt="{{ section.settings.newsletter_logo.alt }}">
      </div>
      <h5 class="nwd-newsletter-title">
        {{ section.settings.newsletter_title }}
      </h5>
      <div class="input-group mb-3 nwd-newsletter-form" style="margin-top:10px;">
        {% form 'customer' %}

        {{ form.errors | default_errors }}

        {% if form.posted_successfully? %}

        <div class="note form-success">{{ 'general.newsletter.confirmation' | t }}</div>

        {% else %}

        <div class="input-group">
          <input type="hidden" name="contact[tags]" value="newsletter">
          <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter.email_label' | t }}" name="contact[email]" id="Email" aria-label="{{ 'general.newsletter.email_label' | t }}" autocorrect="off" autocapitalize="off">
          <input type="submit" name="commit" id="Subscribe" value="{{ 'general.newsletter.submit' | t }}">
        </div>
        {% endif %}

        {% endform %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Newsletter Footer",
  "settings": [
  {
    "type": "image_picker",
    "id": "newsletter_logo",
    "label": "Newsletter logo"
  },
  {
    "type": "text",
    "id": "newsletter_title",
    "label": "Newsletter title",
    "default":"Know Where your Diamonds Come From"
  }
  ]
}
{% endschema %}
