<!-- nwd-footer -->
<div class="container">
  <div class="footer-section" data-section-id="{{ section.id }}" data-section-type="footer-section">

    {% comment %} :: FOOTER NAVIGATION :: {% endcomment %}
    {% if section.blocks %}
    <div class="nwd-footer-blocks">

      <div class="footer-nav">
        <nav >

          {% comment %} :: TITLE : Basic title if no nested menus inside footer :: {% endcomment %}
          {% if menu.levels < 2 and block.settings.show_headings %}
          <h4 class="nav-sub-header">{{ menu.title }}</h4>
          {% endif %}


          {% comment %} :: LINKS : Menu Content links :: {% endcomment %}
          <ul>

            {% for block in section.blocks %}
            {% assign menu = linklists[block.settings.menu_id] %}
            {% for link in menu.links %}

            {% comment %} :: NESTED MENU :: {% endcomment %}
            {% if link.levels > 0 %}
            <li class="footer-sub-nav-wrapper" data-link-size="{{ link.links.size }}">

              <h4 class="nav-sub-header">{{ link.title }}</h4>

              {% comment %} :: SUB-NAV MENU LINKS :: {% endcomment %}
              <ul class="footer-sub-nav">
                {% for sub_link in link.links %}
                <li>
                  <a href="{{ sub_link.url }}" tabindex="0" title="{{ sub_link.title  }}">{{ sub_link.title  }}
                  </a>
                </li>
                {% endfor %}
              </ul>

            </li>

            {% comment %} :: ELSE, REGULAR SINGLE LINK :: {% endcomment %}
            {% else %}
            <li>{{ link.title | link_to: link.url }}</li>
            {% endif %}
            {% endfor %}
            {% endfor %}
            <li class="footer-sub-nav-wrapper">
              <h4 class="nav-sub-header"> {{ section.settings.contact_information_heading }}</h4>
              <ul class="footer-sub-nav">
                <li >
                  <a href="tel:{{ section.settings.call_number}}" title="{{ section.settings.call_number}}" tabindex="1">
                    <span class="heading"><b>Call</b></span><span> : {{ section.settings.call_number}}</span>
                  </a>
                </li>
                <li>
                  <a href="tel:{{ section.settings.fex_number}}" title="{{ section.settings.fex_number}}" tabindex="1">
                    <span class="heading"><b>Text</b></span><span> : {{ section.settings.fex_number}}</span>
                  </a>
                </li>
                <li>
                  <a href="mailto:{{ section.settings.email_id}}" title="{{ section.settings.email_id}}" tabindex="1">
                    <b>{{ section.settings.email_id }}</b>
                  </a>
                </li>
              </ul>
            </li>
          </ul>

        </nav>

      </div><!-- .footer-nav -->


    </div><!--.footer-blocks-->      
    {% endif %}
  </div>

</div>

<div class="copyright">
  <div class="container">
    <p>{{ section.settings.copyright_text }} </p>
  </div>
</div>
<script type="text/javascript">
  $(".nav-sub-header").click(function(){
    $(this).closest(".footer-sub-nav-wrapper").toggleClass("active");
  });
</script>


{% schema %}
{
  "name": "Footer",
  "settings": [
  {
    "type": "header",
    "content": "Contact information title"
  },
  {
    "type": "text",
    "id": "contact_information_heading",
    "label": "contact information",
    "default": "contact information",
    "info": "This is the text that will be displayed on the site."
  }, 
  {
    "type": "header",
    "content": "Phone Number"
  },
  {
    "type": "text",
    "id": "call_number",
    "label": "Call number",
    "default": "877-653-2250"
  },
  {
    "type": "header",
    "content": "Fex Number"
  },
  {
    "type": "text",
    "id": "fex_number",
    "label": "Text number",
    "default": "248-654-7896"
  },
  {
    "type": "header",
    "content": "Email address"
  },
  {
    "type": "text",
    "id": "email_id",
    "label": "Email id",
    "default": "hello@newworlddiamonds.com",
    "info": "This is the text that will be displayed on the site."
  },
  {
    "type": "header",
    "content": "Copyright content"
  },
  {
    "type": "text",
    "id": "copyright_text",
    "label": "Copyright text",
    "default":"©  2020 All Rights Reserved Privacy Policy"
  }
  ],
  "blocks":[
  {
    "type":"link_list",
    "name":"Menu",
    "settings":[
    {
      "type": "link_list",
      "id": "menu_id",
      "label": "Footer Menu"
    },
    {
      "type": "checkbox",
      "id": "show_headings",
      "label": "Show Footer Menu Headers",
      "default": false,
      "info": "(Hidden by default)"
    }
    ]
  }
  ]
}
{% endschema %}
