<!-- nwd-build-your-ring -->
<div class="nwd-arrivals-section">
  <div class="container">
    <div class="row">
      {% for block in section.blocks %}
      <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="content-wrapper block-{{ forloop.index }}">
          <a class="collection-btn" href="{{ block.settings.button_url }}" tabindex="0" title="{{ block.settings.button_text }}">
            <img src="{{ block.settings.image | img_url : 'master' }}" alt="{{ block.settings.image.alt }}" />
          </a>
          <div class="content-wrap">
            <div class="title"><p>{{ block.settings.title }}</p></div>
            <p class="sub-title">{{ block.settings.sub_title }}</p>
            <a class="collection-btn" href="{{ block.settings.button_url }}" tabindex="0" title="{{ block.settings.button_text }}">
              {{ block.settings.button_text }}
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>  
</div>

{% schema %}
{
  "name": "NWD Arrivals section",
  "blocks":[
  {
    "type":"arrivals-section",
    "name":"Arrivals section",
    "settings":[
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub title"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text"
    }
    ]
  }
  ],
  "presets": [
  {
    "name": "NWD Arrivals section",
    "category": "Image with text"
  }
  ]
}
{% endschema %}
