{% assign current_variant = product.selected_or_first_available_variant %}
{% assign video_file = product.metafields.video.file %}

{% comment %} tag contains 'semi-mount' {% endcomment %}
{% if product.type == 'Ring' or product.type == 'Diamonds' %}
  {% if product.type != 'Diamonds' %}

    {% for tag in product.tags %}
      {% if true %}
        {% assign is_semimount = true %}
        {% assign paired_type = 'is-ring' %}

        {% assign paired_handle = product.handle %}
        {% assign paired_variant = current_variant.id %}

        {% assign handle_param = paired_handle | prepend: '?ring=' %}
        {% assign variant_param = current_variant.id | prepend: '&style=' %}
        {% assign paired_product = handle_param | append: variant_param %}

        {% assign paired_collection = collections.all-lab-grown-diamonds %}

        {% break %}
      {% endif %}
    {% endfor %}

  {% else %}

    {% assign is_diamond = true %}
    {% assign cert_file = product.metafields.details.certificate_file %}
    {% assign paired_type = 'is-diamond' %}

    {% assign paired_handle = product.handle %}
    {% assign handle_param = product.handle | prepend: '?diamond=' %}

    {% assign paired_product = handle_param %}
    {% assign paired_collection = collections.engagement-ring-settings %}

  {% endif %}

{% endif %}
{% comment %}
{% if is_semimount == true or is_diamond == true %}
  {% include 'build_your_ring_steps' %}
{% endif %}
{% endcomment %}

<div id="section-{{ section.id }}" class="site-box-container container--fullscreen box--can-stick product--section {{ paired_type }}" itemscope itemtype="//schema.org/Product" data-collection="{{ collection.handle }}" data-gallery-size="{{ product.images.size }}" data-id="{{ product.id }}" data-handle="{{ paired_handle }}" data-hide-variants="{{ section.settings.hide_variants }}" data-product-available="{{ product.available }}">

  <div class="site-box box--big lap--box--bigger box--typo-big box--no-padding box__product-gallery {{ section.settings.gallery_style }}" data-lap="box--bigger" data-order="0" data-images="{{ product.images.size }}">

    <div class="site-box-content">

      {% if product.images.size == 0 %}

        <div class="gallery-item">
          <span class="onboarding-svg">{{ 'product-1' | placeholder_svg_tag }}</span>
        </div>

      {% else %}

        {% if product.type == 'Diamonds' %}

          <div class="box--product-image gallery-item" data-index="0" {% if image.attached_to_variant? %} data-variant-img="{{ image.variants[0].featured_image.id }}"{% endif %} data-type="video" data-master="{{ settings.video_url }}{{ product.metafields.video.file }}">

            {% if video_file != blank %}

              <div class="lp-player">
    						<video-js id="vid-{{ product.id }}" preload="metadata" autoplay playsinline muted loop width="100%" class="video-js" data-setup='{"aspectRatio": "1:1"}'>
    							<source src="{{ settings.video_url }}{{ product.metafields.video.file }}" type="video/mp4">
    						</video-js>
    					</div>

            {% else %}

              <img
                src="{{ product.featured_image.src | img_url: '960x' }}" alt="{{ product.featured_image.alt | escape }}"
                srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-srcset="{{ product.featured_image.src | img_url: '600x' }} 480w, {{ product.featured_image.src | img_url: '900x' }} 720w, {{ product.featured_image.src | img_url: '1100x' }} 960w, {{ product.featured_image.src | img_url: '1600x' }} 1440w, {{ product.featured_image.src | img_url: '2100x' }} 1920w"
                data-sizes="auto"
                class="lazyload"
              />

              <noscript><span class="ll-fallback" style="background-image:url({{ products.featured_image.src | img_url: '960x' }})"></span></noscript>

            {% endif %}

          </div>

        {% else %}

          {% if video_file != blank %}

            <div class="box--product-image gallery-item" data-index="0" {% if image.attached_to_variant? %} data-variant-img="{{ image.variants[0].featured_image.id }}"{% endif %} data-type="video" data-master="{{ settings.video_url }}{{ product.metafields.video.file }}">
              <div class="lp-player">
    						<video-js id="vid-{{ product.id }}" preload="metadata" autoplay playsinline muted loop width="100%" class="video-js" data-setup='{"aspectRatio": "1:1"}'>
    							<source src="{{ settings.video_url }}{{ product.metafields.video.file }}" type="video/mp4">
    						</video-js>
    					</div>
            </div>

          {% endif %}

          {% for image in product.images %}

            <div class="box--product-image gallery-item" data-index="{{ forloop.index | plus: 1 }}" {% if image.attached_to_variant? %} data-variant-img="{{ image.variants[0].featured_image.id }}"{% endif %} data-type="image" data-master="{{ image.src | img_url: '2560x' }}">

              <img
                src="{{ image.src | img_url: '960x' }}" alt="{{ image.alt | escape }}"
                srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                data-srcset="{{ image.src | img_url: '600x' }} 480w, {{ image.src | img_url: '900x' }} 720w, {{ image.src | img_url: '1100x' }} 960w, {{ image.src | img_url: '1600x' }} 1440w, {{ image.src | img_url: '2100x' }} 1920w"
                data-sizes="auto"
                class="lazyload"
              />

              {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
                <div class="video-overlay"><a class="video-lightbox popup-youtube" href="{{ image.alt }}" aria-label="{{ 'general.play_video' | t }}" title="{{ 'general.play_video' | t }}">
                  <span aria-hidden="true">{% include 'asset_svg' with 'icon_video_play' %}</span>
                </a></div>
              {% endif %}

              <noscript><span class="ll-fallback" style="background-image:url({{ image.src | img_url: '960x' }})"></span></noscript>

            </div>

          {% endfor %}


        {% endif %}


      {% endif %}

    </div>

    {% if section.settings.gallery_zoom %}

      <div id="product-zoom-in" class="product-zoom out-with-you {% unless section.settings.site_sharing %} no-sharing {% endunless %}" aria-label="{{ 'product.zoom_product_image.zoom_in' | t }}" title="{{ 'product.zoom_product_image.zoom_in' | t }}">
        <span class="zoom-in" aria-hidden="true">{% include 'asset_svg' with 'zoom_in_icon' %}</span>
      </div>

    {% endif %}

    {% if section.settings.site_sharing %}
      {% include 'social_sharing' %}
    {% endif %}

  </div>

  <div class="site-box box--big lap--box--bigger box--typo-big box--center-align box--column-flow box__product-content"  data-lap="box--bigger" data-order="1">

    <div class="site-box-content fix-me-with-margin">

      {% include 'product_breadcrumb' %}

      <h1 class="product-title" itemprop="name">{{ product.title }}</h1>

      {% if product.type == 'Diamonds' %}
        {% if product.metafields.details.certificate_file != blank %}
          <p class="product-vendor nwd-product-vendor">
            <a class="desktop-device-view-certificate-title certificate-pdf-file-trigger" href="#certificate-pdf-file">View Certificate</a>
            <a class="mobile-and-tablet-device-view-certificate-title" href="{{ product.metafields.details.certificate_file }}">View Certificate</a>
          </p>
        {% endif %}
        <div id="certificate-pdf-file" style="display: none;">
          <iframe src="{{ product.metafields.details.certificate_file }}"></iframe>
        </div>
      {% endif %}


      <span class="variant-sku hide">{{ current_variant.sku }}</span>

      {% if section.settings.product_vendor_enabled %}
        {% capture vendor %} {{ product.vendor | link_to_vendor }} {% endcapture %}
        <p class="product-vendor" itemprop="brand">{{ 'product.vendor_html' | t: vendor: vendor }}</p>
      {% endif %}

      {%- comment -%}
      //////////////////
      // build button //
      //////////////////
      {%- endcomment -%}

      {% if is_semimount != blank or is_diamond != blank %}

        <div class="paired-item is-hidden">

          <div class="section-label">
            <p>{% if is_semimount != blank %}Your Diamond{% elsif is_diamond != blank %}Your Ring{% endif %}</p>
          </div>

          <div class="cart-items">
            <div class="cart-item">
              <a class="thumbnail" tabindex="0"></a>
              <div class="content">
                <a class="title" tabindex="0"></a>
                {% if is_semimount != blank %}
                  <!-- <span class="product-vendor is-hidden"><a target="_blank">View Certificate</a></span> -->
                {% endif %}
                <div class="price"></div>
              </div>
              <a class="remove remove-pairing" title="Remove item" aria-label="Remove item" tabindex="0">
                <span aria-hidden="true">
                  <svg version="1.1" class="svg close" xmlns="//www.w3.org  /2000/svg" xmlns:xlink="//www.w3.org  /1999/xlink" x="0px" y="0px" width="45px" height="45px" viewBox="0 0 60 60" enable-background="new 0 0 60 60" xml:space="preserve"><polygon points="38.936,23.561 36.814,21.439 30.562,27.691 24.311,21.439 22.189,23.561 28.441,29.812   22.189,36.064 24.311,38.186 30.562,31.934 36.814,38.186 38.936,36.064 32.684,29.812 "></polygon></svg>
                </span>
              </a>
            </div>


          </div>

        </div>

        {% if is_diamond != blank %}
        <div class="build-your-ring">

          <a id="build-your-ring-button"
            class="button build-button {% if is_semimount == true %}is-ring{% elsif is_diamond == true %}is-diamond{% endif %}"
            href="{{ paired_collection.url }}{{ paired_product }}"
            data-type="{{ paired_type }}"
            data-collection="{{ paired_collection.url }}"
            data-handle="{{ paired_handle }}"
            data-variant="{{ paired_variant }}"
            data-video="{% if video_file != 'blank' %}{{ video_file }}{% endif %}">

            {% if is_semimount != blank %}
              <span class="build-button-text">Choose Your Diamond</span>
            {% else %}
              {% if is_diamond != blank %}
                <span class="build-button-text">Choose Your Ring</span>
              {% endif %}
            {% endif %}

          </a>

        </div>
        {% endif %}


      <div class="diamond-price is-hidden">
        <span class="item-label">Your Diamond:</span>
        <span class="item-price"></span>
      </div>

      <div class="ring-price is-hidden">
        <span class="item-label">Your Ring:</span>
        <span class="item-price"></span>
      </div>

      <div class="total-price">
        <span class="item-label">Total:</span>
        <span class="price">
          {% include 'product_badges' %}
          <span class="product-price">{{ product.price | money }}</span>
          {% if product.compare_at_price > product.price %}
            <span class="info compare-price">{{ product.compare_at_price | money }}</span>
          {% endif %}
        </span>
      </div>


      {% else %}


        <span class="price">
          {% include 'product_badges' %}
          <span class="product-price">{{ product.price | money }}</span>
          {% if product.compare_at_price > product.price %}
            <span class="info compare-price">{{ product.compare_at_price | money }}</span>
          {% endif %}
        </span>


      {% endif %}


      <div class="affirm">
        <p class="affirm-as-low-as" data-page-type="product" data-amount="{{ product.price }}"></p>
      </div>


      <div class="offers" itemprop="offers" itemscope itemtype="//schema.org/Offer">

       {% assign variant = product.selected_or_first_available_variant %}

        <meta itemprop="price" content="{{ product.price | money_without_currency }}">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">

        <link itemprop="availability" href="//schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

        <div id="add-to-cart-{{ section.id }}" class="product--add-to-cart-form style--{{ section.settings.variants_style }}" data-type="{{ settings.cart_action }}">

          {% form 'product', product %}

            <div class="product-variants-holder">

              {% for option in product.options_with_values %}
                <div class="product-variant selector-wrapper hidden">
                  <label for="product-{{ option.name | downcase | strip }}">{{ option.name }}</label>
                  <select class="product-variants" id="product-{{ option.name | downcase | strip }}">
                    {% for value in option.values %}
                      <option {% if option.selected_value == value %}selected{% endif %}>{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}

            </div>

             <select id="productSelect" name="id" class="styled" style="display: none;">
              {% for variant in product.variants %}
              {{ variant.inventory_quantity }}
                {% if variant.available %}
                  <option data-inventory="{{variant.inventory_quantity}}" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }}</option>
                {% endif %}
              {% endfor %}
            </select>

            {% if is_semimount != blank %}

            <div class="build-your-ring nwd-ring-collection">

              <a id="build-your-ring-button"
              class="button build-button {% if is_semimount == true %}is-ring{% elsif is_diamond == true %}is-diamond{% endif %}"
              href="{{ paired_collection.url }}{{ paired_product }}"
              data-type="{{ paired_type }}"
              data-collection="{{ paired_collection.url }}"
              data-handle="{{ paired_handle }}"
              data-variant="{{ paired_variant }}"
              data-video="{% if video_file != 'blank' %}{{ video_file }}{% endif %}">

                {% if is_semimount != blank %}
                <span class="build-button-text">Choose Your Diamond</span>
                {% else %}
                {% if is_diamond != blank %}
                <span class="build-button-text">Choose Your Ring</span>
                {% endif %}
                {% endif %}

              </a>

            </div>
            {% endif %}

            {% if product.type != 'Diamonds' and product.metafields.shipping.date != blank %}


              <p id="shippingNotice" class="shipping" data-shipping="{{ product.metafields.shipping.date }}" data-preorder="{{ product.metafields.preorder.date }}" class="shipping hyp-semibold has-text-black">
                {% if current_variant.inventory_quantity > 0 %}
                  {{ product.metafields.shipping.date }}
                {% else %}
                  {{ product.metafields.preorder.date }}
                {% endif %}
              </p>


            {% endif %}

            {% if is_semimount == blank and is_diamond == blank %}
              <div class="bolt-button">
                <div class="bolt-checkout-button-product bolt-multi-step-checkout" style="--bolt-primary-action-color:#34515e; --bolt-button-hover-color:#ff6e61"></div>
              </div>
            {% endif %}

            <div class="cart-functions payment-button--{{ section.settings.enable_payment_button }}">

              {% include 'product_quantity' %}

              {% if is_diamond != blank or is_semimount != blank %}
                <button id="add-to-cart" type="submit" name="add" class="button color bundle-button" style="margin-top: 2px !important;" data-diamond="{% if is_diamond != blank %}{{ current_variant.id }}{% endif %}" data-ring="{% if is_semimount != blank %}{{ current_variant.id }}{% endif %}"><span class="add-to-cart-text">{{ 'product.add_to_cart' | t }}</span></button>
              {% else %}
                <button id="add-to-cart" type="submit" name="add" class="button color" style="margin-top: 2px !important;"><span class="add-to-cart-text">{{ 'product.add_to_cart' | t }}</span></button>
              {% endif %}

              {% if section.settings.enable_payment_button %}
                {{ form | payment_button }}
              {% endif %}

              <span class="variant-quantity"></span>

            </div>

          {% endform %}

        </div>

      </div>

      <div class="rte extract-images" itemprop="description">

        {% if section.settings.enable_product_gallery %}

          <style type="text/css">.extract-images img { display: none; }</style>

          {% assign img_tag = '<' | append: 'img' %}

          {% assign product_description = product.description %}

          {% if product.description contains img_tag %}
            {% assign images = product.description | split: 'src="' %}
            {% assign images_in_context = '' | split : '' %}
            {% for image in images %}
              {% unless forloop.first %}

                {% assign src = image | split: '"' | first | remove: 'https:' | remove: 'http:' %}

                {% assign img_sizes = "_pico,_icon,_thumb,_small,_compact,_medium,_large,_grande,_100x100,_160x160,_240x240,_480x480,_640x640,_1024x1024,_2048x2048" | split: "," %}

                 {% assign src_cleaned = src %}
                  {% for size in img_sizes %}
                    {% if src contains size %}
                      {% assign src_cleaned = src | replace: size, '' %}
                    {% endif %}
                  {% endfor %}

                {% assign img_path = src_cleaned | split: "/" %}
                {% assign img_name = img_path | last | split: "?" %}
                {% assign my_img = img_name | first | file_img_url: '10x' %}

                {% assign product_description = product_description | replace: src, my_img %}

              {% endunless %}
            {% endfor %}
          {% endif %}

          {{ product_description }}

        {% else %}
          {{ product.description }}
        {% endif %}

        <a target="_blank" href="https://www.newworlddiamonds.com/pages/faq#returns">
          <strong>Read Our Return Policy</strong>
        </a>

      </div>

    </div>

  </div>

</div>

{% if section.settings.enable_product_gallery %}
  <div id="product-gallery-split" class="site-box-container container--fullscreen add-border"></div>
{% endif %}

<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

{% if section.settings.gallery_resize == 'fit' %}
  <style type="text/css">
    #section-{{ section.id }} .box__product-gallery .box--product-image {
      width: 84%;
      height: 84%;
      margin: 8%;
    }
    #section-{{ section.id }} .box__product-gallery .box--product-image img {
      height: 100%;
      width: 100%;
      position: absolute;
      object-fit: contain !important;
      font-family: "object-fit: contain" !important;
    }
    @media  screen and (max-width: 768px), screen and (max-width: 1024px) and (orientation: portrait){
      #section-{{ section.id }} .box__product-gallery .box--product-image {
        width: 90% !important;
        height: 90% !important;
        margin: 5%;
      }
    }
  </style>
  <script type="text/javascript">
    window.CuberFixGalleryItem = true;
  </script>
{% endif %}

{% if settings.cart_action == 'overlay' %}
  <script type="text/javascript">
    if ( ! $('html').hasClass('ie9') ) {
      $('#add-to-cart-{{ section.id }}').attr('action', $('#add-to-cart-{{ section.id }}').attr('action') + '.js');
    }
  </script>
{% endif %}

{% unless product == empty %}

  <script type="application/json" id="ProductJson-{{ section.id }}" class="product-json" data-product-json>
    {{ product | json }}
  </script>


{% endunless %}

<style type="text/css">
  .spr-reviews[style="display: none"]:after {
    content: "{{ 'product.no_reviews' | t }}";
  }
</style>

{% schema %}
  {
    "name": "Product page",
    "class": "mount-product mount-images mount-gallery",
    "settings": [
      {
        "type": "select",
        "id": "gallery_style",
        "label": "Gallery style",
        "options": [
          {
            "value": "scroll",
            "label": "Scroll"
          },
          {
            "value": "slider",
            "label": "Slider"
          }
        ]
      },
      {
        "type": "select",
        "id": "gallery_resize",
        "label": "Gallery image aspect",
        "options": [
          {
            "value": "fill",
            "label": "Cropped"
          },
          {
            "value": "fit",
            "label": "Natural"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "gallery_zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "product_vendor_enabled",
        "label": "Show vendor",
        "default": true
      },
      {
        "type": "select",
        "id": "variants_style",
        "label": "Variants style",
        "options": [
          {
            "value": "minimal",
            "label": "Minimal"
          },
          {
            "value": "classic",
            "label": "Classic"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "hide_variants",
        "label": "Hide out of stock variants",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "quantity_selector",
        "label": "Show quantity selector",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_payment_button",
        "label": "Show dynamic checkout button",
        "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "site_sharing",
        "label": "Enable product sharing",
        "default": true
      },
      {
        "type": "header",
        "content": "Product gallery"
      },
      {
        "type": "paragraph",
        "content": "Automatically create a gallery based on the images uploaded in your product's description."
      },
      {
        "type": "checkbox",
        "id": "enable_product_gallery",
        "label": "Enable product gallery",
        "info": "[Learn more about this feature](https://shopify-support.krownthemes.com/article/453-automated-galleries)",
        "default": true
      }
    ]
   }
{% endschema %}
