/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-search:before {
    content: "\f002";
}
.fa-shopping-cart:before {
    content: "\f07a";
}
.fa-angle-right:before {
    content: "\f105";
}
.fa-instagram:before {
    content: "\f16d";
}
.fa-user:before {
    content: "\f007";
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}
.fa-twitter:before {
    content: "\f099";
}
.fa-pinterest-p:before {
    content: "\f231";
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
}
.fa-eye:before {
    content: "\f06e";
}
.fa-angle-left:before {
    content: "\f104";
}
.fa-heart-o:before {
    content: "\f08a";
}
.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
}
.fa-info-circle:before {
    content: "\f05a";
}
.fa-retweet:before {
    content: "\f079";
} 
.fa-mail-reply:before, .fa-reply:before {
    content: "\f112";
}
.fa-times-rectangle-o:before, .fa-window-close-o:before {
    content: "\f2d4";
}
.fa-chevron-down:before {
    content: "\f078";
}
.fa-chevron-up:before {
    content: "\f077";
}
.fa-phone:before {
    content: "\f095";
}
.fa-envelope:before {
    content: "\f0e0";
}
.fa-whatsapp:before {
    content: "\f232";
}
.fa-commenting:before {
    content: "\f27a";
}
.fa-plus:before {
    content: "\f067";
}
.fa-minus:before {
    content: "\f068";
}
.fa-facebook-official:before {
    content: "\f230";
}
.fa-chevron-left:before {
    content: "\f053";
}
.fa-chevron-right:before {
    content: "\f054";
}
.fa-plus-square-o:before {
    content: "\f196";
}
.fa-minus-square-o:before {
    content: "\f147";
}
.fa-filter:before {
    content: "\f0b0";
}
.fa-user-o:before {
    content: "\f2c0";
}
.fa-key::before {
    content: "\f084";
}
.fa-map-marker:before {
    content: "\f041";
}