{% if page.id == 43177476163 %}

  {% section 'list-collections-diamond-style' %}

{% elsif page.id == 43179245635 %}

  {% section 'list-collections-diamond-shape' %}

{% elsif page.id == 43179278403 %}

  {% section 'list-collections-diamond-color' %}

{% elsif page.id == 43179376707 %}

  {% section 'list-collections-diamond-weight' %}

{% else %}

  {% section 'list-collections' %}

{% endif %}
