{% comment %}
  43304648771 = Engagement Rings
  43496964163 = Create Your Own Engagement Ring
  43445223491 = Shop by Engagement Ring Style
  43445256259 = Featured Engagement Ring Collections
  43445289027 = Wedding
  43445420099 = Wedding Collection Metal Styles
  43445485635 = Diamonds
  43179245635 = Shop by Diamond Shape
  43179278403 = Shop by Diamond Color
  43445518403 = Jewelry
  43445551171 = Gifts
  25118572611 = About Us
  43449614403 = Start with a Diamond - Engagement Rings
  43972296771 = Create Your Own Diamind Ring or Jewelry
  44113002563 = Lab-Grown Diamond Jewelry

  - DO NOT FORGET TO UPDATE SECTION landing_content
{% endcomment %}

{% case page.id %}

  {% when 43304648771 %}
    {% section 'landing_banner_engagement_rings' %}
    {% section 'landing_content_engagement_rings' %}
    {% section 'banner_landing' %}

  {% when 43496964163 %}
    {% section 'landing_banner_create_engagement_ring' %}
    {% section 'landing_content_create_engagement_ring' %}
    {% section 'banner_landing' %}

  {% when 43445223491 %}
    {% section 'landing_banner_shop_engagement_style' %}
    {% section 'landing_content_shop_engagement_style' %}
    {% section 'banner_landing' %}

  {% when 43445256259 %}
    {% section 'landing_banner_featured_engagement_collections' %}
    {% section 'landing_content_featured_engagement_collections' %}
    {% section 'banner_landing' %}

  {% when 43445289027 %}
    {% section 'landing_banner_wedding' %}
    {% section 'landing_content_wedding' %}
    {% section 'banner_landing' %}

  {% when 43445420099 %}
    {% section 'landing_banner_wedding_metal_styles' %}
    {% section 'landing_content_wedding_metal_styles' %}
    {% section 'banner_landing' %}

  {% when 43445485635 %}
    {% section 'landing_banner_diamonds' %}
    {% section 'landing_content_diamonds' %}
    {% section 'banner_landing' %}

  {% when 43179245635 %}
    {% section 'landing_banner_diamond_shape' %}
    {% section 'landing_content_diamond_shape' %}
    {% section 'banner_landing' %}

  {% when 43179278403 %}
    {% section 'landing_banner_diamond_color' %}
    {% section 'landing_content_diamond_color' %}
    {% section 'banner_landing' %}

  {% when 43445518403 %}
    {% section 'landing_banner_jewelry' %}
    {% section 'landing_content_jewelry' %}
    {% section 'banner_landing' %}

  {% when 43445551171 %}
    {% section 'landing_banner_gifts' %}
    {% section 'landing_content_gifts' %}
    {% section 'banner_landing' %}

  {% when 25118572611 %}
    {% section 'landing_banner_jewelry' %}
    {% section 'landing_content_jewelry' %}
    {% section 'banner_landing' %}

  {% when 43449614403 %}
    {% section 'landing_banner_diamond_start' %}
    {% section 'landing_content_diamond_start' %}
    {% section 'banner_landing' %}

  {% when 43972296771 %}
    {% section 'landing_banner_create_your_own' %}
    {% section 'landing_content_create_your_own' %}
    {% section 'banner_landing' %}

  {% when 44113002563 %}
    {% section 'landing_banner_diamond_jewelry' %}
    {% section 'landing_content_diamond_jewelry' %}
    {% section 'banner_landing_diamond_jewelry' %}

  {% when 47111897141 %}
    {% section 'landing_banner_look_book' %}
    {% section 'landing_content_look_book' %}
    {% section 'banner_landing_look_book' %}

  {% when 47289958453 %}
    {% section 'landing_banner_holiday' %}
    {% section 'landing_content_holiday' %}
    {% section 'banner_landing_holiday' %}

  {% else %}
    {% section 'landing_banner' %}
    {% section 'landing_content' %}
    {% section 'banner_landing' %}

{% endcase %}
